.HomepageSplash {
  &__inner {
    text-align: center;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    max-width: 860px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 15vh 0;
  }

  &__heading {
    font-family: var(--type__primary);
    font-weight: bold;
    @mixin type Trafalgar;
  }

  &__search-input {
    font-family: var(--type__primary);
    font-weight: 600;
    box-shadow: 0 2px 33px 0 rgba(0, 0, 0, 0.5);
    background: #ffffff;
    border-radius: 6px;
    @mixin type GreatPrimer;
    padding: 0.5em;
    border: 0;
  }

  &__logo {
    max-width: 260px;
    margin: 1rem auto 3rem;
    display: block;
  }
}

.HomepageSplashLower {
  margin-top: 2rem;
}
