.EventsCalender {
  border-left-color: #ffffff;

  &__section-title {
    color: #ffffff;

    &::before {
      background-color: #dddddd;
    }
  }

  &__item-date-kicker {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: var(--type__primary);
  }

  &__item {
    border-radius: 0;
    box-shadow: none;

    &:hover {
      box-shadow: none;
    }
  }
}
