.u-responsive-ratio {
  width: 100%;
  position: relative;
  overflow: hidden;

  &--wide {
    padding-bottom: 60%;
  }

  &--ultra-wide {
    padding-bottom: 45%;
  }

  &--square {
    padding-bottom: 100%;
  }

  &--43 {
    padding-bottom: 75%;
  }

  & > img, .ImagePlaceholder {
    width: 100% !important;
    height: 100% !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
  }
}

.u-responsive-fit {
  position: relative;
  overflow: hidden;

  & > img, .ImagePlaceholder {
    width: 100% !important;
    height: 100% !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
  }
}
