@import '../../../../src/css/core/typography.css';
@import '../../../../src/css/core/colors.css';

.Tree {
  list-style: none;
  padding: 0;
  margin: 0;
  border-left: 2px solid var(--color__brand-green);
  padding: 0.5rem;
  font-family: var(--type__primary);
  font-size: 0.9rem;

  & .Tree {
    margin-left: 0.5rem;
  }
}

.TreeNode {
  margin: 0.5rem 0;

  &__name {
    font-weight: bold;
  }
}

.AddButton {
  border: 0;
  background: var(--color__grey-summer);
  color: var(--color__grey-winter);
  font-family: var(--type__primary);
  font-weight: bold;
  font-size: 1em;

  &--danger {
    background: var(--color__brand-red);
    color: #ffffff;
  }
}
