{
  "presets": ["react", "stage-2"],
  "env": {
    "bundle": {
      "presets": [["env", {
        "targets": {
          "browsers": ["last 2 versions", "safari 7", "IE 11"]
        },
        "useBuiltIns": false,
        "modules": false,
        "blacklist": [
          "transform-regenerator"
        ]
      }]],
      "plugins": [["lodash", { "id": ["lodash", "recompose", "date-fns"] }]]
    },
    "comp": {
      "presets": [["env", {
        "targets": {
          "node": ["8"]
        },
        "useBuiltIns": false,
        "modules": false,
        "blacklist": [
          "transform-regenerator"
        ],
        "plugins": ["lodash"]
      }]]
    }
  }
}
