{
  "presets": ["@babel/preset-react"],
  "plugins": ["@babel/plugin-syntax-dynamic-import"],
  "env": {
    "bundle": {
      "presets": [["@babel/preset-env", {
        "targets": {
          "browsers": ["last 2 versions", "safari 7", "IE 11"]
        },
        "useBuiltIns": false,
        "modules": false,
        "exclude": [
          "transform-regenerator"
        ]
      }]]
    },
    "comp": {
      "presets": [["@babel/preset-env", {
        "targets": {
          "node": "10"
        },
        "useBuiltIns": false,
        "modules": false,
        "exclude": [
          "transform-regenerator"
        ]
      }]]
    }
  }
}
