# dependencies
node_modules

# testing
coverage

# production
build

# misc
.DS_Store
.env
npm-debug.log
/docs/dist
/dist
/prototypes/config-prod.json
/webpack-assets.json
/.s3cfg
/previous.json
/compstate.json
/storybook-public
/build-falmer
/dist-falmer
/comp-dist
