# dependencies
node_modules

# testing
coverage

# production
build

# misc
.DS_Store
.env
npm-debug.log
/dist
/webpack-assets.json
/.s3cfg
/previous.json
/compstate.json
/build-falmer
/dist-falmer
/.awcache
/stats.json
/storybook-static
fragmentTypes.json
/sanguine-dist
/server-assets.json
/deploy.json
/sanguine-assets.json
packages/website/webpack-assets.json
packages/website/dist
packages/website/.awcache
packages/falmer/.awcache
*.generated.ts
*.code-workspace
