.ContentBrowser {
  display: flex;

  &__column {
    max-width: 300px;
    list-style: none;
    margin: 0;
    padding: 0;
    border-left: 4px solid var(--color__grey-spring);
  }

  &__column:first-child {
    border-left: 0;
  }

  &__item {
    display: block;
  }

  &__page-link {
    display: block;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: var(--color__grey-summer);
    text-decoration: none;
  }

  &__item--active &__page-link {
    background-color: #ffffff;
    @mixin card raised;
    border-radius: 2px;
  }

  &__page-title {
    @mixin type double-pica;
    font-family: var(--type__primary);
    font-weight: 600;
  }

  &__page-description {
    @mixin type body-copy;
    font-family: var(--type__secondary);
  }
}

.ContentBrowser--has-two .ContentBrowser__column--one,
.ContentBrowser--has-three .ContentBrowser__column--two {
  & .ContentBrowser__item {
    opacity: 0.6;
  }

  & .ContentBrowser__item--active {
    opacity: 1;
  }
}
