.OptionsPanel {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(34, 34, 34);
  color: #ffffff;
  padding: 1rem;
  opacity: 0.4;
}

.OptionsPanel img {
  display: block;
}

.OptionsPanel:hover {
  opacity: 0.9;
}

.OptionsPanel:hover ul {
  display: block;
}

.OptionsPanel ul {
  display: none;
  padding: 0;
  margin: 0;
  list-style: none;
}
