.StaffList {
  font-family: var(--type__primary);
  padding: 0;
  padding-top: 1rem;
  margin: 0;
  list-style: none;
  justify-content: center;

  &__item {
    margin-bottom: 1lh;
    display: flex;
    flex-direction: column;
  }

  &__contact-inner {
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
    list-style: none;
    width: fit-content;
    background: var(--color__grey-spring);
    justify-self: flex-end;
    border-radius: 6px;
    transition: all 300ms ease;
    box-shadow: 3px 0 10px rgba(30, 30, 30, 0);
    padding-right: 10px;
  }

  &__contact {
    overflow: hidden;
    justify-self: flex-end;
    border-radius: 6px;
  }

  &__contact:hover &__contact-inner {
    box-shadow: 3px 0 10px rgba(30, 30, 30, 0.2);
  }

  &__contact:hover {
    overflow: visible;
    z-index: 2000;
  }

  &__contact-item {
    padding: 0.2rem;
    padding-left: 0.8rem;
    width: fit-content;
  }

  &__image {
    width: 40%;
    margin-right: 0.8rem;

    @media (--medium) {
      width: 100%;
    }
  }

  &__creds {
    flex: auto;

    @media (--medium) {
      width: 100%;
    }
  }

  &__imagecreds {
    display: flex;
    margin-bottom: 1rem;
    flex-direction: row;

    @media (--medium) {
      flex-direction: column;
    }
  }

  &__title {
    background: var(--color__brand-yellow);
    display: block;
    box-sizing: border-box;
  }

  &__secondary {
    display: block;
    @mixin type long-primer;
  }

  &__title,
  &__secondary {
    padding: 0.2rem;
    padding-left: 0.8rem;
    font-weight: bold;
  }

  &__content {
    padding: 0.2rem;
    padding-left: 0.8rem;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
