.StaffList {
  font-family: var(--type__primary);
  padding: 0;
  padding-top: 1rem;
  margin: 0;
  list-style: none;
  justify-content: center;

  &__item {
    margin-bottom: 1lh;
    display: flex;
    flex-direction: column;
  }

  &__contact-inner {
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
    list-style: none;
    width: fit-content;
    background: var(--color__grey-spring);
    justify-self: flex-end;
    min-width: 100%;
  }

  &__contact {
    overflow: hidden;
    justify-self: flex-end;
  }

  &__contact:hover {
    overflow: visible;
    z-index: 2000;
  }

  &__contact-item {
    padding: 0.2rem;
    padding-left: 0.8rem;
    width: fit-content;
  }

  &__image {
    width: 100%;
  }

  &__creds {
    flex: auto;

    @media (--medium) {
      width: 100%;
    }
  }

  &__imagecreds {
    display: flex;
    margin-bottom: 1rem;
    flex-direction: column;
  }

  &__title {
    background: var(--color__brand-coral);
    display: block;
    box-sizing: border-box;
    color: #fff;
  }

  &__secondary {
    display: block;
    @mixin type LongPrimer;
  }

  &__title,
  &__secondary {
    padding: 0.2rem;
    padding-left: 0.8rem;
    font-weight: bold;
  }

  &__content {
    padding: 0.2rem;
    padding-left: 0.8rem;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
