:root {
  --layer__header-side-search: 155;
  --layer__header-backdrop--is-search: 152;
  --layer__header--mobile: 150;
  --layer__header-side-menu: 140;
  --layer__header-backdrop: 130;
  --layer__search-header-nav--mobile: 125;
  --layer__search-input: 120;
  --layer__mobile-search: 150;
  --layer__search-header-nav: 115;
  --layer__search-header: 110;
  --layer__search: 100;
  --layer__modal: 100;
  --layer__modal-back: 75;
  --layer__search-backdrop: 75;
  --layer__global-notice: 65;
  --layer__user-bar-dropdown: 50;
  --layer__sticky-section-header: 40;
  --layer__faux-link: 3;
  --layer__tweet-quoted: 2;
  --layer__tweet-link: 1;
  --layer__tweet-back-link: 0;
}
