@import './fonts.css';

:root {
  --type__secondary: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  --type__primary: 'Larsseit', var(--type__secondary);

  font: 16px / 1.5 var(--type__secondary);
}

.type-primary {
  font-family: var(--type__primary);
}

.type-secondary {
  font-family: var(--type__secondary);
}
