.EventsList {
  @mixin rounded;

  background: var(--color__brand-green);
  font-size: 0.8rem;
  list-style: none;
  padding: 0.5rem;
  font-family: var(--type__primary);
  flex: auto;
  display: flex;
  flex-direction: column;

  & dl {
    margin-top: 0;
  }

  & dd {
    margin: 0;
  }

  & .msl_event_image {
    display: none;
  }

  &__view-more {
    display: block;
    margin-top: auto;
    color: #ffffff !important; /* TODO: launch rush, plz fix */
    font-weight: bold;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  & .event_item {
    background: #ffffff;
    margin-bottom: 0.5rem;
    padding: 0.4rem;
  }

  &__item {
    background: #ffffff;
    margin-bottom: 0.5rem;
    padding: 0.7rem;
    text-decoration: none;
    display: block;

    @mixin card standard;

    & .event_item {
      box-shadow: none;
      padding: 0;
      margin-bottom: 0;
      background: transparent;
    }
  }

  & .msl_event_name {
    font-size: 1rem;
    text-decoration: none;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 0.3em;
    display: block;
  }

  & .msl_event_time {
    font-weight: bold;
    font-size: 0.9em;
  }

  & .msl_event_location {
    font-size: 0.8em;
    color: var(--color__grey-winter);
  }

  & .msl_event_description {
    word-wrap: break-word;

    &:before {
      content: '';
      width: 18px;
      border-top: 2px solid var(--color__brand-green);
      display: block;
      margin-top: 0.5rem;
      margin-bottom: 0.8rem;
    }
  }

  & .msl_event_organisation {
    font-weight: bold;
    display: block;
    margin-bottom: 0.2em;
  }

  & a {
    color: black;
  }
}
