.Button {
  background-color: var(--color__brand-primary);
  color: #ffffff;
  display: inline-block;
  padding: 0.4em 0.8em;
  text-decoration: none;
  font-weight: bold;
  border: 0;
  font-size: 1rem;
  line-height: 1rem;
  margin-bottom: 0.5em;
  border-radius: 4px;
  cursor: pointer;

  &--legacy {
    color: #ffffff !important;
    font-weight: 600 !important;
    font-family: var(--type__primary) !important;
  }

  &--color-green {
    background-color: var(--color__brand-green);
  }

  &--color-red {
    background-color: var(--color__brand-red);
  }

  &--above {
    @mixin card flat;
    @mixin rounded;
  }

  &--gray {
    background-color: #36464e;
  }

  &--white {
    background-color: #ffffff;
    color: #000000;
    border-radius: 4px;
  }

  &[disabled] {
    background-color: var(--color__grey-winter);
    color: var(--color__grey-summer);

    &:hover {
      @mixin card flat;
    }
  }

  &--endOfCard {
    width: 100%;
    display: block;
    box-sizing: border-box;
    text-align: center;
    @mixin type pica;
  }

  &--start {
    @mixin type double-pica no-line-height;
    color: white;
    background-color: var(--color__brand-green);
    font-family: var(--type__primary);
  }
}

.msl_admin_page .button {
  @mixin card standard;

  background: var(--color__brand-blue) !important;
  color: #ffffff !important;
  display: inline-block !important;
  padding: 0.4em 0.8em !important;
  text-decoration: none !important;
  font-weight: bold !important;
  border: 0 !important;
  font-size: 1rem !important;
  line-height: 1rem !important;
}
