.BackBar {
  @mixin type pica;
  margin-bottom: 1rem;
  font-weight: 700;

  & a {
    text-decoration: none;
  }

  &__arrow {
    margin-right: 0.8rem;
    vertical-align: text-top;
  }

  &--breadcrumb {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 1rem;

    & li {
      display: inline-block;
    }
  }

  &__chevron {
    margin-left: 0.5em;
    margin-right: 0.5em;
    vertical-align: middle;

    & > svg {
      width: 1em;
      height: 1em;
    }
  }

  &--color {
    &-blue {
      color: var(--color__brand-primary);

      & a {
        color: var(--color__brand-primary);
      }

      & .BackBar__arrow-back {
        fill: var(--color__brand-primary);
      }
    }

    &-green {
      color: var(--color__brand-green);

      & a {
        color: var(--color__brand-green);
      }

      & .BackBar__arrow-back {
        fill: var(--color__brand-green);
      }
    }

    &-red {
      color: var(--color__brand-red);

      & a {
        color: var(--color__brand-red);
      }

      & .BackBar__arrow-back {
        fill: var(--color__brand-red);
      }
    }

    &-white {
      & a {
        color: #ffffff;
      }
    }

    &-slate {
      color: var(--color__grey-slate);

      & a {
        color: var(--color__grey-slate);
      }

      & .BackBar__arrow-back {
        fill: var(--color__grey-slate);
      }
    }
  }
}
