.catalogue_productlist {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  & li {
    @mixin card standard;
    background: #ffffff;
    box-sizing: border-box;
    padding: 1em;
    margin: 1em 0;
    width: 100%;
    height: unset;
    justify-content: space-between;

    @media (--medium) {
      width: 200px;
      margin-right: 2em;
    }
  }

  & .msl-product-image {
    display: block;
    margin: 0 auto 1em;

    height: auto;
    width: 100%;
    max-width: 100px;
  }

  & .msl-product-name {
    font-family: var(--type__primary);
    @mixin type Pica;
    font-weight: 600;
    display: block;
  }

  & .msl-product-price {
    text-align: center;
  }
}
