.checkoutpage .msl_table th {
  background: transparent;
  color: #000000;
}

.checkoutpage .msl_table tr.footer td {
  background: transparent;
  color: #000000;
}

.msl_save,
.msl_delete {
  background-size: contain;
}

.msl_save {
  background-image: url('../../img/star.svg');
}

.msl_delete {
  background-image: url('../../img/cross.svg');
}

.checkoutpage table.msl_table {
  border: 0 !important;
  font-size: 1rem;

  & th {
    border-bottom: 1px solid #000;
  }

  & .msl_row {
    border-bottom: 1px solid grey;
  }
}

.checkoutpage .msl_table td {
  border: 0 !important;
}
