.ActivitiesApp {
  &__main {
    display: flex;
  }

  &__sidebar {
    flex: 0 0 200px;
  }

  &__header {
    text-align: center;
    margin-bottom: 2rem;
  }

  &__searchInput {
    font-size: 2rem;
    width: 100%;
    max-width: 600px;
    padding: 1rem;
    -moz-appearance:none;
    -webkit-appearance:none;
    border: 0.1rem solid grey;
    font-size: 2rem;
  }

  &__filterStat {
    color: rgb(164, 164, 164);
    font-style: italic;
  }
}
