.AdvertBar {
  background-color: var(--color__grey-spring);
  box-sizing: border-box;
  display: flex;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  min-height: 80px;

  &--hide {
    display: none;
  }

  &--dark {
    background-color: var(--color__grey-sad-slate);
  }

  & a {
    display: block;
  }

  &__advert {
    display: block;
    margin: 0 auto;
    align-self: center;
  }

  & img {
    display: block;
    width: auto;
    max-width: 100%;
  }

  &--top {
    @media (--up-to-medium) {
      display: none;
    }
  }
}
