.AdvertBar {
  background-color: var(--color__grey-spring);
  box-sizing: border-box;
  display: flex;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  min-height: 80px;

  &--hide {
    display: none;
  }

  &--dark {
    background-color: var(--color__grey-sad-slate);
  }

  &--donatello {
    background: #a42928;
    box-shadow: inset -4px 3px 5px rgba(30, 30, 30, 0.4);
    padding-top: 8px;

    & a {
      width: 100%;
      max-width: 600px;
    }

    & svg {
      width: 100%;
    }
  }

  & a {
    display: block;
  }

  &__advert {
    display: block;
    margin: 0 auto;
    align-self: center;
  }

  & img {
    display: block;
    width: auto;
    max-width: 764px;
  }

  &--top {
    @media (--up-to-medium) {
      display: none;
    }
  }

  &--mobile-home {
    display: none;
    @media (--medium) {
      display: none;
    }
  }
}
