@import '../core/mq.css';

.AnodyneMenu {
  @media (--medium) {
    padding-top: 1.5lh;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @media (--medium) {
      flex-direction: row;
    }
  }

  &__item {
    flex: 1 1 0;
  }

  &__link {
    display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    color: #ffffff;
    padding: 0.8rem 1rem;

    @media (--medium) {
      padding: 0 0 0 0.2rem;
      color: #000000;
      border-bottom: 0.25lh solid #000000;
    }

    &:hover,
    &.AnodyneMenu__link--active {
      color: #ffffff;
    }
  }
}

.AnodyneMenu__item:nth-child(1) .AnodyneMenu__link {
  background-color: var(--color__brand-blue);

  @media (--medium) {
    background-color: transparent;
    border-bottom-color: var(--color__brand-blue);
  }

  &:hover,
  &.AnodyneMenu__link--active {
    background-color: var(--color__brand-blue);
  }
}

.AnodyneMenu__item:nth-child(2) .AnodyneMenu__link {
  background-color: var(--color__brand-green);

  @media (--medium) {
    background-color: transparent;
    border-bottom-color: var(--color__brand-green);
  }

  &:hover,
  &.AnodyneMenu__link--active {
    background-color: var(--color__brand-green);
  }
}

.AnodyneMenu__item:nth-child(3) .AnodyneMenu__link {
  background-color: var(--color__brand-red);

  @media (--medium) {
    background-color: transparent;
    border-bottom-color: var(--color__brand-red);
  }

  &:hover,
  &.AnodyneMenu__link--active {
    background-color: var(--color__brand-red);
  }
}

.AnodyneMenu__item:nth-child(4) .AnodyneMenu__link {
  background-color: var(--color__grey-slate);

  @media (--medium) {
    background-color: transparent;
    border-bottom-color: var(--color__grey-slate);
  }

  &:hover,
  &.AnodyneMenu__link--active {
    background-color: var(--color__grey-slate);
  }
}
