@import '../core/mq.css';

.AnodyneMenu {
  padding-top: 1.5lh;

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    flex: 50%;

    @media (--medium) {
      flex: 1;
    }
  }

  &__link {
    display: block;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 1.2rem;
    padding-left: 0.2rem;
    border-bottom: 0.25lh solid #000000;

    &:hover,
    &.AnodyneMenu__link--active {
      color: #ffffff;
    }
  }
}

.AnodyneMenu__item:nth-child(1) .AnodyneMenu__link {
  border-bottom-color: var(--color__brand-blue);

    &:hover,
    &.AnodyneMenu__link--active {
      background-color: var(--color__brand-blue);
    }
}

.AnodyneMenu__item:nth-child(2) .AnodyneMenu__link {
  border-bottom-color: var(--color__brand-green);

    &:hover,
    &.AnodyneMenu__link--active {
    background-color: var(--color__brand-green);
  }
}

.AnodyneMenu__item:nth-child(3) .AnodyneMenu__link {
  border-bottom-color: var(--color__brand-red);

    &:hover,
    &.AnodyneMenu__link--active {
      background-color: var(--color__brand-red);
    }
}

.AnodyneMenu__item:nth-child(4) .AnodyneMenu__link {
  border-bottom-color: var(--color__grey-slate);

    &:hover,
    &.AnodyneMenu__link--active {
      background-color: var(--color__grey-slate);
    }
}
