.BackBar {
  margin-bottom: 0.5lh;
  font-weight: 700;
  
  & a {
    text-decoration: none;
  }
  
  &__arrow {
    margin-right: 0.8rem;
    vertical-align: text-top;
  }
  
  &--color {
    &-blue {
      & a {
        color: var(--color__brand-blue);
      }

      
      & .BackBar__arrow-back {
        fill: var(--color__brand-blue);
      }
    }
    
    &-green {
      & a {
        color: var(--color__brand-green);
      }
      
      & .BackBar__arrow-back {
        fill: var(--color__brand-green);
      }
    }
    
    &-red {
      & a {
        color: var(--color__brand-red);
      }
      
      & .BackBar__arrow-back {
        fill: var(--color__brand-red);
      }
    }
    
    &-white {
      & a {
        color: #ffffff;
      }
      
    }
    
    &-slate {
      & a {
        color: var(--color__grey-slate);
      }
      
      & .BackBar__arrow-back {
        fill: var(--color__grey-slate);
      }
    }
  }
}
