.BasicForm {
  label {
    display: block;
    font-family: var(--type__primary);
    font-weight: 600;
    width: 100%;
    @mixin type pica;
  }

  &__field {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }

  &__requirement {
    color: var(--color__brand-red);
    padding-left: 0.5rem;
  }

  input,
  textarea,
  select {
    padding: 0.4rem 0.6rem;
    border: 1px solid var(--color__grey-spring);
    flex: 1 1 auto;
    @mixin type great-primer;
  }

  &__input-prefix {
    padding-right: 0.5rem;
    font-weight: 600;
    @mixin type double-pica;
    align-self: center;
  }
}
