.BentoBox {
  @mixin card standard;
  background: white;
  box-sizing: border-box;
  margin-bottom: 1rem;
  position: relative;
  display: flex;
  width: 100%;

  &--anchor {
    display: block;
  }

  &--impulse {
    padding: 0.2rem 0.2rem;
    text-align: center;
    font-family: var(--type__primary);
    text-decoration: none;
    font-weight: 600;
    min-height: 4.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__background-image {
    overflow: auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-top: 1rem;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
  }

  &--color-blue {
    color: #ffffff;
    background-color: var(--color__brand-blue);
  }

  &--color-green {
    color: #ffffff;
    background-color: var(--color__brand-green);
  }

  &--color-red {
    color: #ffffff;
    background-color: var(--color__brand-red);
  }

  &--color-yellow {
    color: var(--color__brand-blue);
    background-color: var(--color__brand-yellow);
  }
}

.Bento {
  &__main-row {
    min-height: 260px;
  }
}
