@import '../core/colors.css';

.Button {
  background-color: var(--color__brand-blue);
  color: #ffffff;
  display: inline-block;
  padding: 0.2em 0.6em;
  text-decoration: none;
  font-weight: bold;
  border: 0;
  font-size: 0.8rem;
  line-height: 0.8rem;

  &--yellow {
    background: var(--color__brand-yellow);
    color: #000000;
  }

  &--external {
    &:after {
      content: '🔥';
    }
  }

  &--above {
    @mixin card flat;
    @mixin rounded;
  }
}
