.CompOptionsPanel {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0.1rem;
  background: rgba(30, 30, 30, 0.8);
  opacity: 0.6;
  color: white;
  text-shadow: 1px 0 2px rgba(30, 30, 30, 0.6);

  &:hover .CompOptionsPanel__content {
    display: block;
    padding-bottom: 1rem;
  }

  &__content {
    display: none;
  }
}
