.container {
  box-sizing: content-box !important;
}

.Container, .container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 0.5lh;
  padding-right: 0.5lh;

  @media (--medium) {
    padding-left: 1lh;
    padding-right: 1lh;
  }

  &--as-child {
    flex: auto;
  }

  &--for-search {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 100vh;
    padding-top: 200px;
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 1lh;
    padding-right: 1lh;
    max-width: 1200px;
    margin: 0 auto;
  }

  &--sv-bleed {
    padding-left: 0;
    padding-right: 0;

    @media (--medium) {
      padding-left: 1lh;
      padding-right: 1lh;
    }
  }
}

.Container, .container {
  & .Container, .container {
    padding: 0;
    margin: 0;
    width: auto;
  }
}
