.ContentCard {
  @mixin rounded;
  @mixin card flat;

  padding: 0.5lh;
  margin-bottom: 0.5lh;
  background-color: #ffffff;

  &__content {
    padding: 0.5lh;
  }

  &--bleed {
    padding: 0;
    overflow: hidden;
  }

  &__error-message {
    margin-top: 1em;
    margin-bottom: 1em;
    @mixin type long-primer;
    text-align: center;
    font-style: italic;
    color: var(--color__grey-slate);
  }
}
