.Deckchair {
  background-color: var(--color__brand-blue);
  color: white;
  padding: 1rem;
  margin-bottom: 2em;
  font-family: var(--type__primary);
  position: relative;
  overflow: hidden;
  display: flex;

  flex-wrap: wrap;

  @mixin card standard-no-action;

  &--color-red {
    background-color: var(--color__brand-red);
  }

  &--color-green {
    background-color: var(--color__brand-green);
  }

  &--color-blue {
    background-color: var(--color__brand-blue);
  }

  &--color-yellow {
    background-color: var(--color__brand-yellow);
  }

  &__cta {
    padding-top: 1rem;
  }

  &__right {
    margin-left: auto;
    display: flex;
  }

  &__close {
    display: block;
    background: url('./img/cross-temp-white.svg');
    background-size: contain;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 12px;
    top: 12px;
  }

  &__header {
    margin: 0;
  }

  &__about {
    margin: 0;
  }

  &__button {
    background: white;
    color: black;
    padding: 0.2rem 0.6rem;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    border: 0;
    @mixin type great-primer;
    justify-self: end;
    @mixin card standard;
  }
}
