.EventDetail {
  &__bundle,
  &__brand {
    padding: 0.2rem;
    text-align: center;
    font-family: var(--type__primary);
    font-weight: bold;
  }

  &__bundle {
    color: #ffffff;
    background-color: #fbaa05;
  }

  &__brand {
    display: block;
    color: #ffffff;
    background-color: #ff546a;
  }

  &__details {
    border-bottom: 1px solid var(--color__grey-spring);
  }

  &__details-list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 600;
    font-family: var(--type__primary);

    @mixin type long-primer;
  }

  &__details-list-item {
    margin-bottom: 0.5rem;
  }

  &__icon {
    margin-right: 0.5rem;
    width: 16px;
    height: auto;
    position: relative;
    top: 3px;
  }
}
