.EventsCalender {
  border-left: 3px solid var(--color__brand-green);
  padding-left: 1lh;

  @media (--medium) {
    margin-left: 10px;
  }

  &__section {
    margin-bottom: 1lh;
  }

  &__section-title {
    color: var(--color__brand-blue);
    padding-top: 5px;
    position: sticky;
    z-index: var(--layer__sticky-section-header-month);
    background: #fbfbfbdd;
    top: 60px;
    height: 20px;
    text-transform: uppercase;
    font-size: 0.9rem !important;

    @media (--medium) {
      top: 0;
    }
  }

  &__section-items {
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;

    & .EventsCalender__part-container:first-child,
    .EventsCalender__item-date-kicker {
      font-size: 1.3rem;
    }
  }

  &__item {
    @mixin card standard;

    background: #ffffff;
    display: block;
    position: relative;
    margin-bottom: 1rem;
    width: 100%;

    @media (--medium) {
      margin-right: 1.5lh;
      width: 320px;
    }
  }

  &--small {
    & .EventsCalender__item-title {
      @mixin type great-primer;
    }
  }

  &__item&--inline {
    width: 100%;
  }

  &__item-banner {
    display: block;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9rem;
    text-align: center;
    font-family: var(--type__primary);
  }

  &__item-banner--bundle {
    background-color: #fbaa05;
  }

  &__item-banner--tickets {
    background-color: var(--color__brand-green);
  }

  &__item-image-treat {
    position: absolute;
    color: white;
    font-weight: bold;
    padding: 0.1rem 0.3rem;
    text-shadow: 0 0 4px rgba(50, 50, 50, 0.8);
    bottom: 0;
    right: 0;
    font-size: 0.9rem;
    text-transform: uppercase;
  }

  &__item-container {
    padding: 0.5rem;
  }

  &__part-container {
    width: 100%;
    margin-bottom: 0.5rem;

    @media (--medium) {
      width: auto;
    }
  }

  &__item-kicker {
    font-size: 0.8rem;
    margin-top: 0.3rem;
    font-weight: 600;
    font-family: var(--type__secondary);
  }

  &__item-title {
    @mixin type double-pica;
    margin: 0.2rem 0 0.4rem 0;
  }

  &__item-date-kicker {
    font-weight: 500;
    color: var(--color__brand-blue);
    font-family: var(--type__secondary);
    position: sticky;
    z-index: var(--layer__sticky-section-header-day);
    top: 85px;
    background: #fbfbfbdd;
    margin-top: 0;

    @media (--medium) {
      top: 25px;
    }

    &::before {
      content: '';
      display: inline-block;
      border-radius: 50%;
      width: 12px;
      height: 12px;
      margin-left: -30px;
      margin-right: 18px;
      background-color: var(--color__brand-blue);
    }

    &--continuation {
      opacity: 0;
      transition: opacity 300ms ease;
    }
  }

  &__part-container:hover &__item-date-kicker--continuation {
    opacity: 1;
  }

  &__item-description {
    font-size: 0.8rem;
  }

  &__item-meta {
    font-family: var(--type__secondary);
    color: var(--color__grey-slate);
    font-size: 0.8rem;
    font-weight: 500;
    padding-top: 1rem;
  }

  &__item-image {
  }
}
