.FalmerDataList {
  &__list {
    border-collapse: collapse;
    display: table;
    width: 100%;
  }

  &__select {
    width: 20px;
    padding: 0.4em;
  }

  &__boolean {
  }

  & th {
    text-align: left;
    padding: 0.4em 1em;
  }

  &__row {
    border-bottom: 1px solid rgba(100, 100, 100, 0.1);

    &:hover {
      background-color: #eeeeee;
    }

    & > td {
      padding: 0.4em 1em;
    }
  }
}
