.FalmerHeader {
  box-shadow: 0 2px 8px 0 rgba(32, 31, 72, 0.08), 0 0 0 1px rgba(0, 0, 0, 0.026);
  background: #ffffff;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 0.3rem;

  z-index: 200;

  display: flex;

  &__logotype {
    margin: 0;
    @mixin type great-primer;
  }

  &__user {
    @mixin type pica;
    color: var(--color__grey-winter);
    font-weight: 500;
  }

  &__nav {
    flex: 1 1 auto;
  }

  &__nav-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    width: 100%;
    @mixin type pica;
  }

  &__nav-item {
    padding-left: 0.7rem;
    padding-right: 0.7rem;

    & > a {
      text-decoration: none;
      color: var(--color__grey-worst-day-of-winter);
      font-weight: 500;
    }
  }
  &__nav-item--secondary {
    margin-left: auto;
  }

  &__nav-link--active {
    color: var(--color__brand-blue) !important;
    &:after {
      content: '';
      width: 100%;
      display: block;
      border-bottom: 2px solid #677aae;
      margin: 0 auto;
      position: relative;
      top: 0.3rem;
    }
  }
}
