.FreshersSite {
  background-color: var(--color__f18-blue);
  color: #ffffff;
  margin-top: -1rem;
  padding-top: 2rem;
}

.FreshersLogoContainer {
  padding-top: 10vh;
  color: #484598;
  max-width: 800px;
  width: 80%;
  margin: 0 auto;

  & .Lottie {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
.FreshersLogoContainer svg {
  width: 100%;
  height: auto;
}
