.GlobalNotice {
  font-size: 0.8rem;
  text-align: center;
  padding: 0.3em 40px;
  font-family: var(--type__primary);
  z-index: var(--layer__global-notice);
  position: relative;
  @mixin card flat;

  &__close {
    border: 0;
    position: absolute;
    right: 1em;
    top: 0.4em;
    width: 18px;
    height: 18px;
    display: block;
    background-image: url('./img/cross-temp.svg');
    background-color: transparent;
    background-size: contain;
    cursor: pointer;
  }

  & > a {
    color: #000000;
    text-decoration: underline;
  }
}
