@import '../global/core/typography.css';

.Header {
  padding-top: 1.5lh;
  margin-bottom: 1.5lh;
  font-family: var(--type__primary);

  &__top {
    display: flex;
    align-items: center;
    flex-direction: column;

    @media (--medium) {
      flex-direction: row;
      align-items: flex-end;
    }

    & * {
      transition: all ease 300ms;
    }
  }

  &__search, &__logo, &__social {
    margin-bottom: 1lh;

    @media (--medium) {
      margin-bottom: 0;
    }
  }

  &__search {
    flex: 2;
  }

  &__logo {
    flex: 1;
  }

  &__social {
    flex: 1;
  }
}

.Header--search-focus {
  @media(--medium) {
    & .Header {
      &__search {
        flex: 4;
      }

      &__logo {
        opacity: 0;
        flex: 0;
        width: 0;
      }

      &__social {
        opacity: 0;
        flex: 0;
        width: 0;
      }
    }
  }
}
