.Heading {

  &--highlight {
    box-decoration-break: clone;
    padding: 0 0.2em;
    background-color: var(--color__brand-yellow);
    color: #000000;
    display: inline;
    font-size: 2lh;
    position: relative;
    line-height: 1;
    margin: 0;
    font-family: var(--type__primary);
  }

  &--big {
    font-size: 2.8rem;
  }

  &--masive {
    font-size: 3.5rem;
  }
}
