.HeaderLogo {
  &__link {
    transition: color ease-out 300ms, fill ease-out 300ms;

    @media (--up-to-medium) {
      height: 42px;
      width: 78px;
      display: block;
      margin: 0 auto;
    }

    @media (--medium) {
      float: left;
    }
  }

  &__svg {
    display: block;

    @media (--up-to-medium) {
      height: 42px;
      width: 78px;
    }

    @media (--medium) {
      margin-right: 1lh;
    }
  }
}
