.MobileSearch .HeaderSearch {
  background-color: #ffffff;
}

.HeaderSearch {
  font-family: var(--type__primary);
  background: #ffffff;
  padding: 0.3rem 0.6rem 0.1rem 2.6rem;
  font-size: 1.2rem;
  border: 0;
  font-weight: bold;
  padding-right: 48px;
  height: 45px;
  width: 100%;
  box-sizing: border-box;
  transition: transform ease 300ms, box-shadow ease 300ms;
  @mixin card raised;

  &[disabled] {
    opacity: 0.5;
  }

  &--massive {
    @media (--medium) {
      transform: scale(2);
    }

    box-shadow: 0 0 30px 0 rgba(30, 30, 30, 0.4); /* TOOO */
  }

  &--no-outline {
    outline: 0;
  }

  &--search-icon {
    background-image: url('./img/search.svg');
    background-position: left 12px center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
  }

  &__submit {
    width: 45px;
    height: 45px;
    border: 0;
    background-color: var(--color__brand-yellow);
    background-image: url('./img/search-white.svg');
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: 8px center;
  }
}
