@import '../core/typography.css';

.Header {
  padding-top: 1.5lh;
  margin-bottom: 1.5lh;
  font-family: var(--type__primary);
  @media(--medium) {
    padding-top: 0;
  }

  &__top {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;

    @media (--medium) {
      flex-direction: row;
      align-items: flex-end;
    }
  }

  &__search {
    flex: 2;
  }

  &__logo {
    flex: 1;
    margin-bottom: 2rem;

    @media(--medium) {
      margin-bottom: 0;
    }
  }

  &__social {
    flex: 1;
    display: none;
    & .Social {
      justify-content: flex-end;

      @media screen and (max-width: 945px) {
        visibility: hidden;
      }
    }
  }

  &__search
  &__logo,
  &__social {
    margin-bottom: 1lh;

    @media (--medium) {
      margin-bottom: 0;
      display: block;
    }
  }
}
