@import '../core/typography.css';
@import '../core/colors.css';

.HeadingImage {
  @mixin rounded mask;
  background-size: cover;
  padding: 1lh;
  margin-bottom: 1.5lh;
  padding-top: 230px;
  font-family: var(--type__primary);

  &__title {
    box-decoration-break: clone;
    padding: 0 0.2rem;
    background-color: var(--color__brand-yellow);
    font-weight: bold;
    color: #000000;
    display: inline;
    font-size: 2lh;
    position: relative;
    line-height: 1;
    clear: right;
  }

  &__desc {
    display: inline-block;
    font-weight: bold;
    background-color: var(--color__brand-yellow);
    color: #000000;
    max-width: 550px;
    padding: 0 0.2rem;
  }
}
