.ImageTreatmentPreview {

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }

  &__list li {

  }

  &__figure {
    padding: 0;
    width: 300px;
    margin: 0 0 1rem 1rem;
  }

  &__caption {
    color: var(--color__grey-slate);
    font-style: italic;
    padding-right: 0.5rem;
    font-size: 0.9rem;
  }
}
