.InlineSearch {

  &__content {
    z-index: var(--layer__search);
  }

  &__header {
    background: var(--color__brand-green);
    height: 240px;
    position: relative;
    left: 0;
    right: 0;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.1);
    z-index: var(--layer__search-header)
  }

  &__input {
    transition: all 400ms ease-out;
    display: flex;
    float: right;
    position: relative;
    z-index: var(--layer__search-input)
  }

  &__input-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding-top: 64px;
  }

  &__backdrop {
    z-index: var(--layer__search-backdrop);
    transition: background 200ms ease;
  }

  &__clear,
  &__exit {
    position: absolute;
    top: 10px;
    height: 28px;
    width: 28px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }

  &__clear {
    right: 8px;
    background-image: url('./global/img/cross-temp.svg');
    background-size: contain;
  }

  &__exit {
    left: 8px;
    background-image: url('./global/img/cross-temp.svg');
    background-size: contain;
  }

  &__backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(251, 251, 251, 0.90);
  }

  &__content {
    display: none;
  }

  &__content {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    botom: 0;
  }

  &--isOpen &__input {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}

.test-enter {
  height: 0;
}

.test-enter.test-enter-active {
  height: 240px;
  transition: height 300ms ease;
}

.test-leave {
  height: 240px;
  transition: height 300ms ease;
}

.test-leave.test-leave-active {
  height: 0;
}


.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease;
}

.fade-leave {
  opacity: 1;
  transition: opacity 300ms ease;
}

.fade-leave.fade-leave-active {
  opacity: 0;
}
