@keyframes leafFade {
  0% {
    opacity: 0.8;
  }

  100% {
    opacity: 0.5;
  }
}

.Loader {
  max-width: 100px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 1.4rem auto;
  box-sizing: border-box;

  @media (--medium) {
    max-width: 140px;
    margin: 2rem auto;
  }
}

.Loader__svg {
  width: 100%;
}

.Loader {
  &__left {
    fill: rgba(180, 180, 180, 0.3);
    animation: leafFade 430ms ease-in-out infinite alternate;
  }

  &__right {
    fill: rgba(180, 180, 180, 0.3);
    animation: leafFade 430ms ease-in-out infinite alternate;
    animation-delay: 430ms;
  }
}

.Loader--dark {
  & .Loader__left {
    fill: #fff8;
  }

  & .Loader__right {
    fill: #fff8;
  }
}
