.html--side-menu .LokiHeader {
  border-bottom: 0 !important;
}

.LokiHeader {
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--color__grey-spring);
  z-index: var(--layer__header--mobile);
  font-family: var(--type__primary);

  @media (--up-to-medium) {
    height: 50px;
  }

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  @media (--medium) {
    position: relative;

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      background: var(--color__brand-blue);
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
    }
  }

  & .LokiContainer {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    height: 50px;
    box-sizing: border-box;

    @media (--medium) {
      padding-top: 10px;
      padding-bottom: 0;
      height: auto;
    }
  }

  &__top-row {
    display: flex;
  }

  &__bottom-row {
  }

  &__profile-label-container {
    min-width: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  }

  @media (--up-to-medium) {
    &__top-row,
    &__bottom-row {
      display: none;
    }
  }

  &__logo {
    padding-right: 1rem;
    width: 100%;

    @media (--up-to-medium) {
      flex: 1 1 auto;
    }

    @media (--medium) {
      max-height: 63px;
      max-width: 80px;
    }

    @media (--large) {
      max-width: 80px;
    }

    @media (--extra-large) {
      max-width: size(1/12);
    }
  }

  &__container {
    display: flex;
  }

  &__logo-link {
    display: block;
    width: 100%;

    @media (--up-to-medium) {
      max-height: 30px;
      max-width: 50px;
      margin: 0 auto;
    }

    & > svg {
      width: 100%;
      height: 100%;
    }
  }

  &__parts {
    display: none;
    flex: 1 1 auto;

    @media (--medium) {
      display: block;
    }
  }

  &__dropover {
    position: absolute;
    left: 0;
    right: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: var(--color__brand-red);
    color: #fff;
  }

  &__search {
    flex: 1 1 auto;
    padding-right: 1rem;
    margin-top: 0.4rem;
    margin-bottom: 0.8rem;
  }

  &__search-input {
    background: var(--color__grey-summer);
    border-radius: 6px;
    border: 0;
    width: 100%;

    font-family: inherit;
    font-weight: 600;
    font-size: 20px;
    padding: 0.4rem;
    box-sizing: border-box;
    color: var(--color__grey-winter);

    outline: 0;

    &:focus {
      outline: 3px solid var(--color__brand-yellow);
      color: var(--color__grey-slate);
    }
  }

  /* from header for Sidemenu */
  &__side-menu {
    background: #ffffff;
    position: fixed;
    padding-top: 50px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    z-index: var(--layer__header-side-menu);
    transform: translateX(100vw);
    transition: transform 300ms ease;
    overflow-y: scroll;
    padding-right: calc(100vw - 260px);
    padding-bottom: 1rem;
    -webkit-overflow-scrolling: touch;

    &--is-open {
      transform: translateX(100vw) translateX(-260px);
    }

    @media (--medium) {
      display: none;
    }
  }

  &__side-container {
    padding-left: 1rem;
    padding-right: 0.4rem;
  }

  &__side-menu-user {
    font-weight: bold;
    font-size: 1.3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    ul {
      padding: 1rem 0 0;
      margin: 0;
      list-style: none;
    }
  }

  &__backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: color(var(--color__grey-summer));
    z-index: var(--layer__header-backdrop);
    opacity: 0;
    pointer-events: none;
    transition: opacity 200ms ease;

    &--is-visible {
      opacity: 0.61;
      pointer-events: initial;
    }

    &--is-search {
      opacity: 0.91;
      z-index: var(--layer__header-backdrop--is-search);
    }
  }

  &__button-mobile {
    min-width: 60px;
    background: transparent;
    border: 0;
    padding: 0 0.5rem;
    display: block;
    text-decoration: none;
    font-family: var(--type__primary);

    @media (--medium) {
      display: none;
    }

    &--search {
      text-align: left;
    }

    &--menu {
      text-align: right;
    }
  }

  &__button-mobile-label {
    display: block;
    padding-top: 0.1rem;
    font-weight: 600;
    font-family: inherit;
    color: #000000;
    @mixin type brevier;
  }
}
