.MobileSearch {
  z-index: var(--layer__mobile-search);

  /*position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;*/
  box-sizing: border-box;
  padding: 7px 6px;
  opacity: 1;

  & .Container {
    padding: 0;
  }
}
