.XModal {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 1lh;
  background: #ffffff;
  position: relative;

  &__close {
    cursor: pointer;
    background-image: url('./img/cross-temp.svg');
    background-size: contain;
    display: block;
    width: 32px;
    height: 32px;
    border: 0;
    background-color: transparent;
    outline: 0;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &__heading {
    font-size: 1.1rem;
  }

  @media (--small) {
    max-width: 660px;
    box-sizing: content-box;
    height: auto;
  }
}

.Modal {
  position: relative;
  width: 100%;
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 2px;
  outline: none;
  margin-top: 60px;
  margin-bottom: 60px;
  box-sizing: border-box;
  box-shadow: 0 8px 15px 3px rgba(0, 0, 0, 0.2);

  @media (--medium) {
    width: 80%;
    max-width: 800px;
  }

  &--small {
    max-width: 400px;
  }

  &__content {
    padding: 1rem;
  }

  &__footerClose {
    background: var(--color__grey-spring);
    color: var(--color__grey-sad-slate);
    text-align: center;
    padding: 0.6rem;
    box-sizing: border-box;
    font-size: 1.2rem;
    width: 100%;
    display: block;
    font-family: var(--type__primary);
    border: 0;
    font-weight: bold;
  }
}

.Overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(26, 26, 26, 0.4);
  z-index: 400;
  display: flex;
  align-content: center;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;
  align-items: flex-start;
  padding: 10px;
}
