.Modal {
  position: relative;
  width: 100%;
  background: rgb(255, 255, 255);
  overflow: auto;
  outline: none;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  @media (--medium) {
    width: 80%;
    max-width: 800px;

    margin-top: 60px;
    margin-bottom: 60px;
    box-sizing: border-box;
    box-shadow: 0 8px 15px 3px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    flex: none;
    min-height: 0;
  }

  &--small {
    max-width: 400px;

    @media (--medium) {
      border-radius: 6px;
    }
  }

  &--small &__heading {
    text-align: center;
  }

  &__content {
    padding: 1rem;
  }

  &__footerClose {
    background: var(--color__grey-spring);
    color: var(--color__grey-sad-slate);
    text-align: center;
    padding: 0.6rem;
    box-sizing: border-box;
    font-size: 1.2rem;
    width: 100%;
    display: block;
    font-family: var(--type__primary);
    border: 0;
    font-weight: bold;
    align-self: flex-end;
  }
}

.Overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(26, 26, 26, 0.4);
  z-index: 400;
  display: flex;
  align-content: center;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;
  align-items: flex-start;

  @media (--medium) {
    padding: 10px;
  }
}
