@import '../core/typography.css';
@import '../core/mq.css';

.NewsBlock {
  margin-bottom: 1lh;
  display: flex;
  flex-direction: column;
  background: #ffffff;

  @mixin card standard;

  &__content {
    padding: 0 0.5lh;
    flex-direction: column;
    display: flex;
    flex: auto;
  }

  &__title {
    box-decoration-break: clone;
    padding: 0.02em 0.2em;
    background-color: var(--color__brand-yellow);
    color: #000000;
    display: inline;
    font-size: 2lh;
    position: relative;
    line-height: 1.5rem;
    font-size: 1.5rem;
    margin: 0;
    font-family: var(--type__primary);
  }

  &__title-link {
    text-decoration: none;
    padding-right: 1rem;
  }

  &__link {
    text-decoration: none;
    display: flex;
    flex: auto;
    color: var(--color__grey-slate);
    flex-direction: column;
  }

  &__image {
    margin-bottom: 0.5lh;
  }

  &__image--default {
    background: var(--color__brand-green);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    & svg {
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  &__meta {
    font-size: 0.6rem;
    padding: 0.2rem 0;
    margin: 0.2rem 0;
    margin-top: auto;

    &:before {
      content: '';
      position: relative;
      display: block;
      width: 30px;
      height: 3px;
      background: var(--color__brand-yellow);
      margin: 0.2rem 0;
      margin-top: auto;
    }
  }

  &__standfirst {
    display: block;
    color: #000000;
    font-size: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: var(--type__primary);
  }
}
