@import '../global/core/typography.css';
@import '../global/core/mq.css';

.NewsBlock {
  margin-bottom: 1lh;
  border-bottom: 3px solid #ebebeb;
  display: flex;
  flex-direction: column;

  &__title {
    box-decoration-break: clone;
    padding: 0 0.2em;
    background-color: var(--color__yellow);
    color: #000000;
    display: inline;
    font-size: 2lh;
    position: relative;
    line-height: 0.9;
    font-size: 1.5rem;
    margin: 0;
    font-family: var(--type__primary);
  }

  &__title-outer {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 20px;
  }

  &__title-link {
    text-decoration: none;
  }

  &__image {
    padding-right: 1rem;
    height: 200px;
    position: relative;
    background-size: cover;
  }

  &__meta {
    font-size: 0.6rem;
    padding: 0.2rem 0;
    margin: 0.2rem 0;
    margin-top: auto;

    &:before {
      content: '';
      position: relative;
      display: block;
      width: 30px;
      height: 3px;
      background: var(--color__yellow);
      margin: 0.2rem 0;
      margin-top: auto;
    }
  }

  &__standfirst {
    display: block;
    color: #323232;
    font-size: 0.8rem;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: var(--type__primary);
  }
}
