.Prose {
  & > p, ul, ol {
    padding: 0;
    margin: 1em 0;
  }

  & > h2 {
    margin-top: 2em;
    margin-bottom: 0;
  }

  & > p:first-child {
    margin-top: 0;
  }

  ul,
  ol {
    padding-left: 0.7rem;
    margin-left: 0.5rem;
  }

  li {
    margin-bottom: 0.3em;
  }

  img {
    max-width: 100%;
    width: auto !important;
    height: auto !important;
  }
}
