@keyframes ball-scale-ripple {
  0% {
    transform: scale(0.1);
    opacity: 1;
  }
  70% {
    transform: scale(1);
    opacity: 0.7;
  }
  100% {
    opacity: 0.0;
  }
}

.RippleLoader {

  & > div {
    animation-fill-mode: both;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin: 1lh auto;
    border: 2px solid #fff;
    animation: ball-scale-ripple 1s 0s infinite cubic-bezier(.21,.53,.56,.8);
  }
}
