.SearchResult {
  &__listItem {
    margin-bottom: 3rem;
  }

  &__kicker {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0.8rem;
  }

  &__title {
    margin: 0;
    @mixin type trafalgar;
  }

  &__anchor {
    color: black;
  }

  &__anchor:hover {
    text-decoration: none;
  }

  &__anchor:hover .title {
    text-decoration: underline;
  }
}
