.Sectionbar {
  margin-top: -1rem;
  padding: 0.6rem 0 0.3rem;
  margin-bottom: 1rem;

  background: var(--color__grey-summer);
  border-bottom: 1px solid var(--color__grey-spring);

  font-family: var(--type__primary);

  &__container {
    display: flex;
    flex-direction: column;

    @media (--medium) {
      flex-direction: row;
    }
  }

  &__title {
    margin: 0 1rem 0 0;
    color: var(--color__grey-sad-slate);
    text-align: center;

    @media (--medium) {
      text-align: left;
    }
  }

  &__menu {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    flex-direction: column;

    @media (--medium) {
      flex-direction: row;
    }
  }

  &__menu-item {
    display: flex;
    align-items: center;

    & &--disabled {
      & > a,
      & > button {
        color: var(--color__grey-winter);
        font-weight: normal;
        cursor: default;
      }
    }

    & > a,
    & > button {
      font-family: var(--type__primary);
      color: var(--color__grey-slate);
      text-decoration: none;
      font-weight: 600;
      padding: 0.2rem;

      @media (--medium) {
        padding: 0 0.5rem;
      }

      &.active {
        color: var(--color__brand-blue);
      }
    }
  }
}
