.Social {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;

  & li {
    display: block;
    margin-right: 0;
    padding-left: 10px;

    &:first-child {
      padding-left: 0;
    }
  }

  &__link {
    display: block;
    height: 45px;
    width: 45px;
    background-size: contain;

    &--facebook {
      background-image: url('../img/social-facebook.svg');
    }

    &--twitter {
      background-image: url('../img/social-twitter.svg');
    }

    &--instagram {
      background-image: url('../img/social-instagram.svg');
    }

    &--snapchat {
      background-image: url('../img/social-snapchat.svg');
    }
  }
}
