.Social {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;

  & li {
    display: block;
    margin-right: 0;
    padding-left: 10px;

    &:first-child {
      padding-left: 0;
    }
  }

  &--as-action {
    justify-content: center;
    margin-top: 1rem;

    .Social__link {
      display: flex;
      border-radius: 2px;
      font-size: inherit;
      color: #ffffff;
      font-weight: bold;
      font-family: inherit;

      &--facebook {
        background: #3853a1;
      }

      &--twitter {
        background: #4baaf4;
      }
    }

    .Social__handle {
      display: block;
      align-self: center;
    }
  }

  &--as-list {
    flex-direction: column;

    .Social__handle {
      display: flex;
      align-items: center;
    }

    .Social__link {
      display: flex;
      color: #000000;
      font-size: 1rem;
      text-decoration: none;
      font-weight: 600;
    }

    & li {
      padding-left: 0;
      margin-bottom: 10px;
    }

    .Social__icon {
      margin-right: 10px;
    }
  }

  &__handle {
    display: none;
  }

  &__link {
    display: block;
    border: 0;
    background: transparent;
  }

  &__icon {
    height: 45px;
    width: 45px;
    background-size: contain;
    display: block;

    &--facebook {
      background-image: url('../img/social-facebook.svg');
    }

    &--twitter {
      background-image: url('../img/social-twitter.svg');
    }

    &--instagram {
      background-image: url('../img/social-instagram.svg');
    }

    &--snapchat {
      background-image: url('../img/social-snapchat.svg');
    }
  }
}
