.ActivitiesApp {
  &__main {
    display: flex;
  }

  &__sidebar {
    list-style: none;
  }

  &__grid {
    flex: 1 1 auto;
    width: 100%;
  }

  &__header {
    text-align: center;
    margin-bottom: 2rem;
  }

  &__search-input {
    width: 100%;
    max-width: 600px;
    padding: 1rem;
    -moz-appearance: none;
    -webkit-appearance: none;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }

  &__filter-stat {
    color: var(--color__grey-winter);
    font-style: italic;
  }
}
