.BrickWall {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: var(--type__primary);
  font-weight: 600;

  &__item {
    margin: 0.3em;
  }

  &__anchor {
    background-color: var(--color__brand-yellow);
    color: var(--color__grey-sad-slate);
    padding: 0.2rem 0.4rem;
    display: inline-block;
    text-decoration: none;
    border-radius: 2px;
  }
}
