.FreshersSite {
  margin-top: -1rem;

  & .Social {
    padding-left: 15px;
    &__icon {
      height: 30px;
      width: 30px;
      &--facebook {
        background-image: url('~@ussu/common/src/css/img/Facebook.svg');
      }

      &--twitter {
        background-image: url('~@ussu/common/src/css/img/Twitter.svg');
      }

      &--instagram {
        background-image: url('~@ussu/common/src/css/img/Instagram.svg');
      }

      &--linkedin {
        background-image: url('~@ussu/common/src/css/img/Linkedin.svg');
      }
    }
  }
}

.FreshersHomepage {
  .SplashSlice {
    padding-top: 2rem;
    min-height: 70vh;
    background-size: cover;
  }

  &__slice--union {
    background: #fff;

    h2 {
      color: #1e1c50;
    }

    h3 {
      color: var(--color__f18-purple);
    }

    p {
      color: var(--color__grey-sad-slate);
    }
  }
}

.FUnion {
  margin-bottom: 2rem;

  &__areas {
    @media (--medium) {
      display: flex;
      flex-wrap: wrap;
      & > div {
        lost-column: 1/3;
      }
    }

    & a {
      font-family: var(--type__primary);
      font-weight: 600;
      text-decoration: none;

      color: #ffffff;
      background-color: var(--color__f18-purple);
      padding: 0.4em 0.8em;
      font-size: 1rem;
      line-height: 1rem;
      margin-bottom: 0.5em;

      &::after {
        content: '>';
        padding-left: 0.2em;
        display: inline;
      }
    }
  }
}
