.FreshersSite {
  margin-top: -1rem;

  & .Social {
    padding-left: 15px;
    &__icon {
      height: 30px;
      width: 30px;
      &--facebook {
        background-image: url('~@ussu/common/src/css/img/Facebook.svg');
      }

      &--twitter {
        background-image: url('~@ussu/common/src/css/img/Twitter.svg');
      }

      &--instagram {
        background-image: url('~@ussu/common/src/css/img/Instagram.svg');
      }

      &--linkedin {
        background-image: url('~@ussu/common/src/css/img/Linkedin.svg');
      }
    }
  }

  .ContactSection {
    .Social {
      flex-direction: column;
      @media (--medium) {
        float: right;
        flex-direction: row;
        flex-wrap: wrap;
      }

      li {
        flex: 0 50%;
        padding: 0 0 1rem 0;

        a {
          display: flex;
          text-decoration: none;
          width: 80%;
          float: right;
        }

        .Social__handle {
          display: block;
          padding-left: 1.5rem;
          color: #000;
        }
      }
    }
  }

  .NewsletterSignup {
    color: #000;
    font-weight: normal;
    z-index: 0;

    &__button {
      background: #1294d2;
      font-weight: normal;
      font-size: 20px !important;
      width: 140px;
      margin: 0 auto;
      padding: 10px;
    }

    input {
      background-color: #d0e9f4;
      border: none;
      box-shadow: none;
    }
  }

  .BlockLink {
    text-decoration: none;
    border: 2px solid white;
    color: white;
    font-weight: normal;
    border-radius: 30px;
    text-align: center;
    font-size: 18px !important;
    padding: 5px 50px;
    width: fit-content;
    margin: 0 auto 2rem;
  }

  .FGT__countdown {
    font-family: var(--type__primary);
    color: var(--color__grey-slate);
    text-transform: uppercase;
    @mixin type trafalgar;
    text-align: center;
    font-weight: bold;
    max-width: 50%;
    margin: 0 auto;
  }

  .FGT__countdownFreshers {
    color: white;
    font-weight: normal;
    text-transform: lowercase;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 2rem;
    flex-direction: column;

    @media (--medium) {
      flex-direction: row;
    }

    .countdown_value {
      font-size: 5rem;
      line-height: 3rem;
    }

    .countdown_label {
      font-size: 1rem;
      text-transform: uppercase;
      padding: 0 0 2rem;
      line-height: 3rem;
    }
  }
}

.FreshersHomepage {
  .SplashSlice {
    padding-top: 2rem;
    min-height: 70vh;
    background-size: cover;
  }

  &__slice--union {
    background: #fff;

    h2 {
      color: #1e1c50;
    }

    h3 {
      color: var(--color__f18-purple);
    }

    p {
      color: var(--color__grey-sad-slate);
    }
  }
}

.FUnion {
  margin-bottom: 2rem;

  &__areas {
    @media (--medium) {
      display: flex;
      flex-wrap: wrap;
      & > div {
        lost-column: 1/3;
      }
    }

    & a {
      font-family: var(--type__primary);
      font-weight: 600;
      text-decoration: none;

      color: #ffffff;
      background-color: var(--color__f18-purple);
      padding: 0.4em 0.8em;
      font-size: 1rem;
      line-height: 1rem;
      margin-bottom: 0.5em;

      &::after {
        content: '>';
        padding-left: 0.2em;
        display: inline;
      }
    }
  }
}
