.Heading {
  margin-top: 0;

  &--highlight-w_b {
    color: #ffffff;
    background-color: #000000;
  }

  &--tight {
    font-size: 1.4rem;
  }

  &--standard {
    font-size: 1.8rem;
  }

  &--medium {
    font-size: 2.2rem;
  }

  &--big {
    font-size: 2.8rem;
  }

  &--masive {
    font-size: 3.5rem;
  }
}
