.HomepageContentBlock {
  display: flex;
  flex-direction: column;
  margin-bottom: 1lh;

  &__heading {
    font-family: var(--type__primary);
    font-weight: bold;
    @mixin type DoublePica;
  }
}
