.Layout {
  /* TODO: think about me */
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  display: flex;

  &--sidebar-thin&--sidebar-right {
    @media (--medium) {
      & > *:nth-child(1) {
        lost-column: 3/4;
      }
      & > *:nth-child(2) {
        lost-column: 1/4;
      }
    }
  }

  &--sidebar-thin&--sidebar-left {
    flex-direction: column;
    @media (--medium) {
      flex-direction: row;
      & > *:nth-child(1) {
        lost-column: 1/4;
      }
      & > *:nth-child(2) {
        lost-column: 3/4;
      }
    }
  }

  &--sidebar-left {
    @media (--medium) {
      & > *:nth-child(1) {
        lost-column: 1/3;
      }
      & > *:nth-child(2) {
        lost-column: 2/3;
      }
    }
  }

  &--sidebar-right {
    display: flex;
    flex-wrap: wrap;
    & > {
      lost-column: 1/1;
    }
    @media (--medium) {
      & > *:nth-child(1) {
        lost-column: 2/3;
      }
      & > *:nth-child(2) {
        lost-column: 1/3;
      }
    }
  }

  &--sidebar-right > div > aside,
  &--sidebar-left > div > aside {
    position: sticky;
    top: 20px;
  }

  &--content-top-bleed {
    margin-top: -1rem;
  }
}

.Layout--sidebar-right.Layout--sidebar-divider {
  aside {
    box-sizing: border-box;
    border-left: 1px solid var(--color__grey-spring);
    padding-left: 1rem;
  }
}

.LayoutContent {
  display: flex;
  flex-direction: column;

  @media (--medium) {
    flex-direction: row;

    &__toc {
      max-width: 348px;
      flex: 1 1 auto;
      padding-right: 48px;
    }

    &__main {
      flex: 3 1 auto;
      max-width: 648px;
      padding-right: 48px;
    }

    &__aside {
      max-width: 300px;
      flex: 1 1 auto;
    }
  }
}
