.LokiContainer {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;

  @media (--medium) {
    padding: 0 1rem;
    box-sizing: border-box;
  }
}

.LokiContainer .LokiContainer {
  max-width: none;
  padding: 0;
}
