.ReactModal__Overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(26, 26, 26, 0);
  z-index: 400;
  display: flex;
  align-content: center;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;
  align-items: flex-start;
  transition: background-color 400ms ease-in-out;

  &--after-open {
    background-color: rgba(26, 26, 26, 0.4);
  }

  &--before-open,
  &--before-close {
    background-color: rgba(26, 26, 26, 0);
  }

  @media (--medium) {
    padding: 10px;
  }
}

.ReactModal__Content {
  transition: opacity 300ms ease-in-out, transform 400ms ease-in-out;
  opacity: 0;
  transform: scale(0.95);
  will-change: transform, opacity;
}
.ReactModal__Content--before-open,
.ReactModal__Content--before-close {
  opacity: 0 !important;
  transform: scale(0.95) !important;
}
.ReactModal__Content--after-open {
  top: 0;
  opacity: 1;
  transform: scale(1);
}
