.NavigationCard {
  @mixin card standard-no-action;
  position: sticky;
  top: 1rem;
  margin-bottom: 1rem;

  &__title {
    padding: 0.3rem 1rem;
    @mixin type GreatPrimer;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__sub-list {
    list-style: none;
    padding: 0 0 0 1rem;
    margin: 0;
  }

  &__sub-list &__anchor {
    border-bottom: 0;
  }

  &__sub-list &__anchor:first-child {
    border-top: 0;
  }

  &__anchor {
    display: block;
    padding: 0.3rem 1rem;
    border-bottom: 1px solid var(--color__grey-summer);
    font-family: var(--type__primary);
    font-weight: 400;
    text-decoration: none;
    color: var(--color__grey-slate);
  }

  &__anchor:first-child {
    border-top: 1px solid var(--color__grey-summer);
  }

  &__item--active > &__anchor,
  &__anchor--active {
    background-color: var(--color__grey-summer);
    color: var(--color__brand-blue);
  }
}
