.app__news {
  display: flex;
  flex: auto;
}

.NewsGrid {
  list-style: none;
  padding: 0;
  margin: 0;
  flex: auto;
  align-content: stretch;
  display: flex;
  flex-wrap: wrap;
}

.HomePage .NewsGrid {
  flex-wrap: nowrap;

  &__item {
    min-width: 250px;
    margin-right: 1rem;
  }
}

@media (--small) {
  .NewsGrid .NewsGrid__item {
    lost-column: 1/2;
  }
}

.NewsGrid--single .NewsGrid__item {
  lost-column: 1/1;
}

@media (--medium) {
  .NewsGrid--full-width .NewsGrid__item {
    lost-column: 1/3;
  }
}

@media (--large) {
  .NewsGrid--full-width .NewsGrid__item {
    lost-column: 1/4;
  }
}

.NewsViewMore {
  @mixin rounded;

  background: var(--color__brand-yellow);
  color: var(--color__grey-slate);
  align-self: flex-start;
  padding: 0.1rem 0.4rem;
  font-family: var(--type__primary);
  font-weight: bold;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}
