.ProfileLabel {
  background-color: #fff;
  color: var(--color__brand-primary);
  font-family: var(--type__primary);
  font-weight: 600;
  padding: calc(5px + 0.3rem) 0.4rem 0.2rem;
  margin-top: -15px;
  border-radius: 2px;
  font-size: 1rem;
  border: 0;
  display: block;
  cursor: pointer;

  &__textual-button {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    border: 0;
    background: transparent;
    padding: 0 0.4rem;
  }

  & > svg {
    vertical-align: middle;
  }

  &__icon {
    width: 1em;
  }
}
