.SearchApp {
  &__container {
    padding-bottom: 2rem;
    padding-left: 0;
    padding-right: 0;
  }

  &__result-message {
    visibility: hidden;
    padding: 1rem 0;
    font-style: italic;
  }

  &__results-message--is-visible {
    visibility: visible;
  }

  &__mobile-search-input {
    @mixin type GreatPrimer;
    @mixin card standard;
    font-family: var(--type__primary);
    font-weight: 600;
    padding: 0.4rem;
    box-sizing: border-box;
    border: 0;
    background: #ffffff;
    margin-bottom: 1rem;

    @media (--medium) {
      display: none;
    }
  }
}
