.SelectionGrid {
  font-family: var(--type__primary);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  column-gap: 2rem;
  row-gap: 2rem;

  &__link {
    text-decoration: none;
    color: black;
    display: block;
    width: 100%;
  position: relative;
  }

  &__title {
    font-weight: bold;
    padding: 0.6rem 0;
    display: inline-block;
    @mixin type GreatPrimer;
  }

  &--undderneath &__image-inside {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &--on-top &__image-inside {
    padding: 0.5rem;
  }

  &__description {
    font-weight: bold;
    margin: 0;
    margin-top: 0.5rem;
  }
}
