.SelectionGrid {
  font-family: var(--type__primary);

  &__link {
    text-decoration: none;
    color: black;
    display: block;
    width: 100%;
  }

  &__title {
    font-weight: bold;
    padding: 0.4rem 0.2rem;
    display: inline-block;
    @mixin type great-primer;
  }

  &--undderneath &__image-inside {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &--on-top &__image-inside {
    padding: 0.5rem;
  }

  &__description {
    font-weight: bold;
    margin: 0;
    margin-top: 0.5rem;
  }
}
