.Stonewall {
  text-align: center;
  padding-bottom: 2rem;

  &__image {
    color: var(--color__grey-slate);
    width: 100%;
    height: auto;
    max-width: 80px;
  }

  &--small {
    max-width: 600px;
    margin: 0 auto;
  }
}
