.BlockLink {
  display: block;
  font-family: var(--type__primary);
  color: var(--color__brand-blue);
  font-weight: 600;
  margin-bottom: 1em;
  @mixin type body-copy;

  &--internal {
    &::after {
      content: '';
    }
  }

  &--external {
  }
}
