.container {

}

.container_loading {
  composes: container;
  opacity: 0.4;
}

.searchInput {
  -moz-appearance:none;
  -webkit-appearance:none;
  border: 0.1rem solid grey;
  font-size: 2.8rem;
  width: 100%;
  padding: 0.6rem;
  margin-top: 1rem;
}

.heading {
  display: inline-block;
  margin: 0;
}

.resultsList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.resultsMessage {
  visibility: hidden;
  padding: 1rem 0;
  font-style: italic;
}

.resultsMessage_visible {
  visibility: visible;
}

.fieldset {
  border: 0;
  display: inline-block;
}

.radioItem {
  background: rgb(238, 83, 79);
  color: #fff;
  padding: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.radioInput {
  margin-right: 0.5rem !important;
}

.for {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
