.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: var(--type__secondary);
  transition: transform ease 300ms;

  &__content {
    flex: 1 1 auto;

    @media (--up-to-medium) {
      padding-top: calc(50px + 1rem);
    }
  }
}

html {
  touch-action: manipulation;
}

body {
  background-color: var(--color__grey-bg);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.modal-open {
  position: fixed;
  overflow: hidden;
  left: 0;
  right: 0;
}

.html--search-active {
  @media (--up-to-medium) {
  }

  & .Site {
    @media (--up-to-medium) {
      position: fixed;
      top: 0;
      z-index: -10;
    }
  }

  & body {
    @media (--medium) {
      overflow: hidden;
    }
  }
}

.html--modal {
  overflow-y: hidden;
}

.html--locked {
  overflow: hidden;
  position: fixed;
  width: 100%;
}
