.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: sans-serif;
  transition: transform ease 300ms;

  &__content {
    flex: 1 1 auto;
  }
}

.Body {
  background-color: var(--color__grey-bg);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.html--search-active  {
  & .Site {
    @media (--up-to-medium) {
      display: none;
    }
  }

  & .Body {
    @media (--medium) {
      overflow: hidden;
    }
  }
}

.html--locked {
  overflow: hidden;
  position: fixed;
  width: 100%;
}
