@import '../../../../src/css/core/typography.css';

.Menu {
  list-style: none;
  padding: 0;
  margin: 0;
    font-family: var(--type__primary);

}

.Menu__item {
  margin-bottom: 1.2rem;
}

.Menu__header {
  display: block;
  font-weight: bold;
  letter-spacing: 1.1;
  font-size: 1.1rem;
  padding-bottom: 0.2rem;
}

.Menu__sub-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.Menu__sub-link {
  text-decoration: none;
  color: #ffffff;

  &--active {
    text-decoration: underline;
  }
}
