.LokiMenu {
  font-family: var(--type__primary);

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: var(--color__brand-coral);

    @media (--medium) {
      flex-direction: row;
      background-color: var(--color__brand-primary);
    }
  }

  &__item {
    flex: 1 1 0;
  }

  &__link {
    transition: padding ease 300ms;
    display: block;
    text-decoration: none;
    font-weight: bold;
    padding: 1.2rem 1rem;
    @mixin type great-primer;
    background-color: var(--color__brand-coral);

    @media (--medium) {
      padding: 0.2rem 0 0.2rem 0.2rem;
      margin-left: -0.2rem;
      @mixin type pica;
      border-bottom: 2px solid var(--color__brand-primary);
      background-color: var(--color__brand-primary);
      transition: 0.3s;
    }

    @media (--large) {
      @mixin type great-primer;
    }

    &:hover,
    &.AnodyneMenu__link--active {
      border-bottom: 2px solid var(--color__brand-coral);
    }
  }
}

.LokiMenu__item .LokiMenu__link {
  color: #fff;

  &:hover,
  &.LokiMenu__link--active {
    color: #fff;
  }
}
