.Social {
  list-style: none;
  padding: 0 0 1rem;
  margin: 0;
  display: flex;

  & li {
    display: block;
    margin-right: 0;
    padding-left: 10px;

    &:first-child {
      padding-left: 0;
    }
  }

  &--as-action {
    justify-content: center;
    margin-top: 1rem;

    .Social__link {
      display: flex;
      border-radius: 2px;
      font-size: inherit;
      color: #ffffff;
      font-weight: bold;
      font-family: inherit;

      &--facebook {
        background: #3853a1;
      }

      &--twitter {
        background: #4baaf4;
      }
    }

    .Social__handle {
      display: block;
      align-self: center;
    }
  }

  &--as-list {
    flex-direction: column;

    .Social__handle {
      display: flex;
      align-items: center;
    }

    .Social__link {
      display: flex;
      color: #000000;
      font-size: 1rem;
      text-decoration: none;
      font-weight: 600;
    }

    & li {
      padding-left: 0;
      margin-bottom: 10px;
    }

    .Social__icon {
      margin-right: 5px;
    }
  }

  &__handle {
    display: none;
  }

  &__link {
    display: block;
    border: 0;
    background: transparent;
  }

  &__icon {
    height: 45px;
    width: 45px;
    background-size: contain;
    display: block;

    &--facebook {
      background-image: url('~@ussu/common/src/css/img/social-facebook.svg');
      &-black {
        background-image: url('~@ussu/common/src/css/img/social-facebook-black.svg');
      }
      &-white {
        background-image: url('~@ussu/common/src/css/img/social-facebook-white.svg');
      }
    }

    &--twitter {
      background-image: url('~@ussu/common/src/css/img/social-twitter.svg');
      &-black {
        background-image: url('~@ussu/common/src/css/img/social-twitter-black.svg');
      }
      &-white {
        background-image: url('~@ussu/common/src/css/img/social-twitter-white.svg');
      }
    }

    &--instagram {
      background-image: url('~@ussu/common/src/css/img/social-instagram.svg');
      &-black {
        background-image: url('~@ussu/common/src/css/img/social-instagram-black.svg');
      }
      &-white {
        background-image: url('~@ussu/common/src/css/img/social-instagram-white.svg');
      }
    }

    &--linkedin {
      &-black {
        background-image: url('~@ussu/common/src/css/img/social-linkedin-black.svg');
      }
      &-white {
        background-image: url('~@ussu/common/src/css/img/social-linkedin-white.svg');
      }
    }

    &--youtube {
      &-black {
        background-image: url('~@ussu/common/src/css/img/social-youtube-black.svg');
      }
      &-white {
        background-image: url('~@ussu/common/src/css/img/social-youtube-white.svg');
      }
    }

    /* deprecated */
    &--snapchat {
      background-image: url('~@ussu/common/src/css/img/social-snapchat.svg');
    }
  }
}
