.Footer {
  background: var(--color__brand-primary);
  color: #ffffff;
  font-family: var(--type__primary);
  font-weight: 600;
  padding: 0 1rem;
  padding-bottom: 3rem;
  @media (--medium) {
    padding: 0;
  }

  &__menu {
    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      list-style: none;
      padding: 0;
      @media (--medium) {
        flex-direction: row;
        margin-bottom: 0;
      }
    }

    li {
      padding: 0.5rem 0;
    }

    a {
      color: #fff;
      text-decoration: none;
      font-size: 1.1rem;
    }
  }

  &__container.LokiContainer {
    padding-bottom: 2rem;
    text-align: left;
    @media (--medium) {
      text-align: center;
    }
  }

  &__social {
    display: none;
  }

  & p {
    margin-top: 0;
    @mixin type Pica;
    padding-bottom: 1rem;
    font-weight: normal;
  }

  &__contact {
    & h2 {
      margin-top: 0;
    }

    & a {
      color: #ffffff;
    }
  }
}

@media (--medium) {
  .Footer__social {
    display: block;

    .Social {
      padding: 2.5rem 0;
      justify-content: center;
    }

    .Social__icon {
      width: 60px;
      height: 60px;
    }

    .Button {
      margin-bottom: 2.5rem;
    }
  }
}
