.EventsCalender {
  position: relative;
  margin: 0 1rem;

  &--loading {
    opacity: 0.4;
  }

  &__section {
    margin-bottom: 1lh;
  }

  &__section-title {
    color: var(--color__brand-blue);
    padding-top: 5px;
    position: sticky;
    z-index: var(--layer__sticky-section-header-month);
    background: #fbfbfbee;
    top: 49px;
    height: 20px;
    text-transform: uppercase;
    font-size: 0.9rem !important;

    @media (--medium) {
      top: 0;
    }
  }

  &__section-items {
    margin-bottom: 2.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2rem;

    & .EventsCalender__part-container:first-child,
    .EventsCalender__item-date-kicker {
      font-size: 1.3rem;
    }
  }

  &__item-image-like {
    position: absolute;
    top: 0;
    right: 0;
    height: 36px;
    width: 36px;
    cursor: pointer;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 130px;
      height: 60px;
      transform: translate(40px, -30px) rotate(45deg);
      background: linear-gradient(
        to bottom,
        hsl(0, 0%, 0%) 0%,
        hsla(0, 0%, 0%, 0.992) 0.3%,
        hsla(0, 0%, 0%, 0.97) 1.1%,
        hsla(0, 0%, 0%, 0.934) 2.5%,
        hsla(0, 0%, 0%, 0.887) 4.7%,
        hsla(0, 0%, 0%, 0.83) 7.7%,
        hsla(0, 0%, 0%, 0.763) 11.6%,
        hsla(0, 0%, 0%, 0.689) 16.4%,
        hsla(0, 0%, 0%, 0.609) 22.3%,
        hsla(0, 0%, 0%, 0.525) 29.4%,
        hsla(0, 0%, 0%, 0.437) 37.6%,
        hsla(0, 0%, 0%, 0.347) 47.2%,
        hsla(0, 0%, 0%, 0.258) 58.1%,
        hsla(0, 0%, 0%, 0.169) 70.5%,
        hsla(0, 0%, 0%, 0.082) 84.4%,
        hsla(0, 0%, 0%, 0) 100%
      );
    }
  }

  &__item-date-kicker {
    font-weight: 600;
    color: var(--color__brand-red);
    font-family: var(--type__primary);
    @mixin type DoublePica;
    position: sticky;
    z-index: var(--layer__sticky-section-header-day);
    top: 0;
    background: #fbfbfbff;
    margin: 0 -1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 0.2rem;

    sup {
      @mixin type Pica;
    }
  }

  &__part-container:hover &__item-date-kicker--continuation {
    opacity: 1;
  }
}
