<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title_top %}{% block title %}{% endblock %} | {% endblock %}Sussex Students' Union</title>

    <link href="https://www.sussexstudent.com/skins/print.css" rel="stylesheet" type="text/css" media="print" />
    <link href="https://www.sussexstudent.com/skins/system.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://www.sussexstudent.com/skins/icons.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://www.sussexstudent.com/skins/Controls/AdminList.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://www.sussexstudent.com/skins/Controls/JoinOrganisation.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://www.sussexstudent.com/skins/Controls/ControlPanel.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://www.sussexstudent.com/skins/Controls/Basket.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://www.sussexstudent.com/skins/Common/Shop/ReviewBasket.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://www.sussexstudent.com/skins/Common/Shop/Checkout.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://www.sussexstudent.com/skins/Controls/News.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://www.sussexstudent.com/skins/Controls/newslayouts.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://www.sussexstudent.com/skins/Controls/EventList.css" rel="stylesheet" type="text/css" media="all" />

    <link href="{{ assets.main.css }}" rel="stylesheet" />
  </head>
  <body class="Site">
    <div class="AdvertBar AdvertBar--hide">
      <img class="AdvertBar__advert" src="https://sussexstudent.com/asset/Advert/1/studenttaxisbannerad.jpg" />
    </div>
    <div class="UserBar">
      <div class="Container">
          <div class="proto__logged-in u-h">
            <ul class="UserBar__list">
              <li class="UserBar__item">Hi James!</li>
              <li class="UserBar__item UserBar__item--action">
                <a href="/log-out">Log out</a>
              </li>
              <li class="UserBar__item UserBar__item--action UserBar__item--action-highlight">
                <a href="/basket">Basket</a>
              </li>
            </ul>
          </div>
          <div class="proto__logged-out">
            <ul class="UserBar__list">
              <li class="UserBar__item">Hi there!</li>
              <li class="UserBar__item UserBar__item--action">
                <a href="#" data-action="login">Log in</a>
              </li>
            </ul>
          </div>
      </div>
    </div>
    <header class="Header">
      <div class="Container">
        <div class="Header__top">
          <div class="Header__logo HeaderLogo">
            <a class="HeaderLogo__link" href="/">
              {% include 'logo_svg.html' %}
            </a>
          </div>

          <div class="Header__search">
            <input class="HeaderSearch HeaderSearch--search-icon" type="search" placeholder="Search" />
          </div>
          <ul class="Header__social Social">
            <li>
              <a class="Social__link Social__link--facebook" href="https://www.facebook.com/thestudentsunion/">
                <span class="u-h">Facebook</span>
              </a>
            </li>
            <li>
              <a class="Social__link Social__link--twitter" href="https://twitter.com/ussu">
                <span class="u-h">Twitter</span>
              </a>
            </li>
            <li>
              <a class="Social__link Social__link--instagram" href="https://www.instagram.com/sussexsu/">
                <span class="u-h">Instagram</span>
              </a>
            </li>
            <li>
              <a class="Social__link Social__link--snapchat" href="https://www.facebook.com/thestudentsunion/">
                <span class="u-h">Snapchat</span>
              </a>
            </li>
          </ul>
        </div>
        <nav class="AnodyneMenu">
          <ul class="AnodyneMenu__list">
            {% for item in menu %}
            <li class="AnodyneMenu__item {% if item.active %}AnodyneMenu__item--active{% endif %}">
              <a class="AnodyneMenu__link" href="{{ item.link }}">{{ item.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    </header>

    <main class="Site__content">
      {% block content %}{% endblock content %}
    </main>

    <div class="PrefooterMenu">
      <div class="Container PrefooterMenu__inner">
        <ul class="PrefooterMenu__column">
          <li class="PrefooterMenu__column-header">
            <a href="/get-involved">Get Involved</a>
          </li>
          <li class="PrefooterMenu__column-item">
            <a href="/get-involved">Societies</a>
          </li>
          <li class="PrefooterMenu__column-item">
            <a href="/get-involved">Cafe</a>
          </li>
        </ul>
        <ul class="PrefooterMenu__column">
          <li class="PrefooterMenu__column-header">
            <a href="/get-involved">What's on</a>
          </li>
          <li class="PrefooterMenu__column-item">
            <a href="/get-involved">Calender</a>
          </li>
          <li class="PrefooterMenu__column-item">
            <a href="/get-involved">Bars & Venues</a>
          </li>
          <li class="PrefooterMenu__column-item">
            <a href="/get-involved">Freshers & Refreshers</a>
          </li>
        </ul>
        <ul class="PrefooterMenu__column">
          <li class="PrefooterMenu__column-header">
            <a href="/get-involved">About us</a>
          </li>
          <li class="PrefooterMenu__column-item">
            <a href="/get-involved">Council</a>
          </li>
          <li class="PrefooterMenu__column-item">
            <a href="/get-involved">Campaigns</a>
          </li>
          <li class="PrefooterMenu__column-item">
            <a href="/get-involved">Policy</a>
          </li>
        </ul>
        <ul class="PrefooterMenu__column">
          <li class="PrefooterMenu__column-header">
            <a href="/get-involved">Support</a>
          </li>
          <li class="PrefooterMenu__column-item">
            <a href="/get-involved">Accademic issues</a>
          </li>
          <li class="PrefooterMenu__column-item">
            <a href="/get-involved">Complaints</a>
          </li>
        </ul>
      </div>
    </div>
    <footer class="Footer">
      <div class="Container">
        <h2>Contact us</h2>
        <p>
          01273 678152<br/>
          reception@sussexstudent.com<br/>
          Falmer House, Falmer, East Sussex, BN1 9QF
        </p>

        <p>
          <a href="/about-us/contact-us">View contact details for particular departments, staff and officers</a><br/>
          <a href="/about-us">Jobs</a><br/>
          <a href="/advertise">Advertise With Us</a>
        </p>

        <p>
          <small>University of Sussex Students’ Union - Company No. 07695765. Charity No. 1147242</small><br/>
          <small>University of Sussex Students’ Union Trading Ltd - Company No. 02146582</small>
        </p>

        <p>
          <small>Designed and built by Sussex Students' Union. Powered by MSL.</small>
        </p>
      </div>
    </footer>
    <div class="AdvertBar AdvertBar--dark AdvertBar--hide">
      <img class="AdvertBar__advert" src="https://sussexstudent.com/asset/Advert/1/studenttaxisbannerad.jpg" />
    </div>

    <div class="js__modal"></div>
    <script src="{{ assets.main.js }}"></script>
  </body>
</html>
