<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title_top %}{% block title %}{% endblock %} | {% endblock %}Sussex Students' Union</title>

    <link href="https://www.sussexstudent.com/skins/print.css" rel="stylesheet" type="text/css" media="print" />
    <link href="https://www.sussexstudent.com/skins/system.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://www.sussexstudent.com/skins/icons.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://www.sussexstudent.com/skins/Controls/AdminList.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://www.sussexstudent.com/skins/Controls/JoinOrganisation.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://www.sussexstudent.com/skins/Controls/ControlPanel.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://www.sussexstudent.com/skins/Controls/Basket.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://www.sussexstudent.com/skins/Common/Shop/ReviewBasket.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://www.sussexstudent.com/skins/Common/Shop/Checkout.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://www.sussexstudent.com/skins/Controls/News.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://www.sussexstudent.com/skins/Controls/newslayouts.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://www.sussexstudent.com/skins/Controls/EventList.css" rel="stylesheet" type="text/css" media="all" />

    <link href="{{ assets.devFonts.css }}" rel="stylesheet" />
    <link href="{{ assets.main.css }}" rel="stylesheet" />
    <script type="text/javascript">
    //<![CDATA[
    var mslUserInfo =
    {"userinfo": {
      "IdCardNumber": "21501812",
      "FirstName": "James",
      "LastName": "Canning",
      "UniqueId": "fdf269d8-90a1-43f2-af0d-d94515544190"
    }}//]]>
    </script>

  </head>
  <body class="Site">
    <div class="AdvertBar AdvertBar--hide">
      <div class="AdvertBar__advert">
        <div class="mslwidget">
          <a href="/advertclick/20/" target="_blank">
            <img src="https://sussexstudent.com/asset/Advert/20/Student Offer Ipswich.jpg" alt="Get your £15 Student Ticket for BHAFC vs Ipswich o">
          </a>
        </div>
      </div>
    </div>
    <div class="UserBar">
      <div class="Container Container--sv-bleed">
        <ul class="UserBar__list">

            <li class="UserBar__item UserBar__item-admin UserBar__item--empty UserBar__admin-menu">
              <span>Admin</span>
              <div class="UserBar__item-dropdown">
              <div class="mslwidget">
<div id="msl_admin" class="msl_admin_menu">

    <h3>
	Admin
    </h3>



    <ul id="ulAdmin">
            <li><a href="/admin/adverts/" class="msl_admin">Adverts Admin</a></li>

            <li><a href="/admin/blogs/" class="msl_admin">Blog Admin</a></li>

            <li><a href="/admin/directory/" class="msl_admin">Directory Admin</a></li>

            <li><a href="/admin/elections/" class="msl_admin">Elections Admin</a></li>

            <li><a href="/admin/ents/" class="msl_admin">Events Admin</a></li>

            <li><a href="/admin/forums/" class="msl_admin">Forum Admin</a></li>

            <li><a href="/admin/ideas/" class="msl_admin">Ideas Admin</a></li>

            <li><a href="/admin/jobs/" class="msl_admin">Jobs Admin</a></li>

            <li><a href="/admin/livefeed/" class="msl_admin">LiveFeed Admin</a></li>

            <li><a href="/admin/marketplace/" class="msl_admin">Marketplace Admin</a></li>

            <li><a href="/admin/messaging/" class="msl_admin">Messaging Admin</a></li>

            <li><a href="/admin/news/" class="msl_admin">News Admin</a></li>

            <li><a href="/admin/poll/" class="msl_admin">Poll Admin</a></li>

            <li><a href="/admin/profile/" class="msl_admin">Profile Admin</a></li>

            <li><a href="/admin/referenda/" class="msl_admin">Referenda Admin</a></li>

            <li><a href="/admin/shop/" class="msl_admin">Shop Admin</a></li>

            <li><a href="/admin/surveys/" class="msl_admin">Survey Admin</a></li>

            <li><a href="/admin/surveyadmin/" class="msl_admin">Survey Admin (All surveys)</a></li>

            <li><a href="/admin/volunteering/" class="msl_admin">Volunteering Admin</a></li>

            <li><a href="/admin/portal/" class="msl_admin">Website Admin</a></li>
        </ul>

	<div id="ctl00_AdminPanel_pnlOrganisations">

        <h4>
	    <a id="ctl00_AdminPanel_lbOrganisations" href="javascript:__doPostBack('ctl00$AdminPanel$lbOrganisations','')">Organisations</a>
        </h4>

        <ul id="ulOrgs">
                <li><a href="/organisation/admin/6312/" class="msl_admin">Comedy</a></li>

                <li><a href="/organisation/admin/0/" class="msl_admin">MSL Membership System</a></li>
            </ul>

</div>

</div>
</div>
</div>
            </li>
            <li class="UserBar__item UserBar__item-admin UserBar__item--empty UserBar__admin-control-panel">
              <span>Edit</span>
              <div class="UserBar__item-dropdown">

              <div id="controlpanel" class="sidepanel">
	<h3>Control Panel</h3>
	<ul id="ctl00_controlpanel_ulControlPanel"><li id="ctl00_controlpanel_organisationadminnews0" class="msl_edit"><a href="/organisation/admin/news/0/">Edit MSL Membership System News</a></li><li id="ctl00_controlpanel_editpagepagenamehomenext" class="msl_edit"><a href="/edit/page/?page_name=/home-next/">Edit Page</a></li><li id="ctl00_controlpanel_editpagesnewpageparenthomenext" class="msl_add"><a href="/edit/pages/newpage/?parent=/home-next/">Add child page</a></li><li id="ctl00_controlpanel_adminents" class="msl_edit"><a href="/admin/ents/">Edit MSL Membership System events</a></li></ul>
</div>
</div>
            </li>
              <li class="UserBar__item UserBar__item--welcome"></li>
              <li class="UserBar__item UserBar__item--action">
                <a href="/log-out">Log out</a>
              </li>
              <li class="UserBar__item UserBar__item--action UserBar__item--action-highlight">
                <a href="/basket">Basket</a>
              </li>
            </ul>
      </div>
    </div>
    <header class="Header">
      <div class="Container">
        <div class="Header__top">
          <div class="Header__logo HeaderLogo">
            <a class="HeaderLogo__link" href="/">
              {% include 'logo_svg.html' %}
            </a>
          </div>

          <div class="Header__search">
            <input class="HeaderSearch HeaderSearch--search-icon" type="search" placeholder="Search" />
          </div>
          <div class="Header__social">
            <ul class="Social">
              <li>
                <a class="Social__link Social__link--facebook" href="https://www.facebook.com/thestudentsunion/">
                  <span class="u-h">Facebook</span>
                </a>
              </li>
              <li>
                <a class="Social__link Social__link--twitter" href="https://twitter.com/ussu">
                  <span class="u-h">Twitter</span>
                </a>
              </li>
              <li>
                <a class="Social__link Social__link--instagram" href="https://www.instagram.com/sussexsu/">
                  <span class="u-h">Instagram</span>
                </a>
              </li>
              <li>
                <a class="Social__link Social__link--snapchat" data-action="snapchat" href="https://www.snapchat.com/add/sussexstudent">
                  <span class="u-h">Snapchat</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <nav class="AnodyneMenu">
          <ul class="AnodyneMenu__list">
            {% for item in menu %}
            <li class="AnodyneMenu__item {% if item.active %}AnodyneMenu__item--active{% endif %}">
              <a class="AnodyneMenu__link" href="{{ item.link }}">{{ item.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    </header>

    <main class="Site__content {% block siteclasses %}{% endblock %}">
      {% block content %}{% endblock content %}
    </main>

    <div class="MobileFooterTreats">
      <div class="MobileFooterTreats__social">
        <ul class="Social">
          <li>
            <a class="Social__link Social__link--facebook" href="https://www.facebook.com/thestudentsunion/">
              <span class="u-h">Facebook</span>
            </a>
          </li>
          <li>
            <a class="Social__link Social__link--twitter" href="https://twitter.com/ussu">
              <span class="u-h">Twitter</span>
            </a>
          </li>
          <li>
            <a class="Social__link Social__link--instagram" href="https://www.instagram.com/sussexsu/">
              <span class="u-h">Instagram</span>
            </a>
          </li>
          <li>
            <a class="Social__link Social__link--snapchat" data-action="snapchat" href="https://www.snapchat.com/add/sussexstudent">
              <span class="u-h">Snapchat</span>
            </a>
          </li>
        </ul>
      </div>
      <div>
        <a class="Button Button--yellow" href="/newsletter" data-action="newsletter_subscribe">Subscribe to our email newsletter</a>
      </div>
      <div class="MobileFooterTreats__to-top" data-action="scrollTop">
        <span>Back to top</span>
      </div>
    </div>

    <div class="PrefooterMenu">
      <div class="Container PrefooterMenu__inner">
        <ul class="PrefooterMenu__column">
          <li class="PrefooterMenu__column-header">
            <a href="/get-involved">Get Involved</a>
          </li>
          <li class="PrefooterMenu__column-item">
            <a href="/get-involved">Societies</a>
          </li>
          <li class="PrefooterMenu__column-item">
            <a href="/get-involved">Cafe</a>
          </li>
        </ul>
        <ul class="PrefooterMenu__column">
          <li class="PrefooterMenu__column-header">
            <a href="/get-involved">What's on</a>
          </li>
          <li class="PrefooterMenu__column-item">
            <a href="/get-involved">Calender</a>
          </li>
          <li class="PrefooterMenu__column-item">
            <a href="/get-involved">Bars & Venues</a>
          </li>
          <li class="PrefooterMenu__column-item">
            <a href="/get-involved">Freshers & Refreshers</a>
          </li>
        </ul>
        <ul class="PrefooterMenu__column">
          <li class="PrefooterMenu__column-header">
            <a href="/get-involved">About us</a>
          </li>
          <li class="PrefooterMenu__column-item">
            <a href="/get-involved">Council</a>
          </li>
          <li class="PrefooterMenu__column-item">
            <a href="/get-involved">Campaigns</a>
          </li>
          <li class="PrefooterMenu__column-item">
            <a href="/get-involved">Policy</a>
          </li>
        </ul>
        <ul class="PrefooterMenu__column">
          <li class="PrefooterMenu__column-header">
            <a href="/get-involved">Support</a>
          </li>
          <li class="PrefooterMenu__column-item">
            <a href="/get-involved">Accademic issues</a>
          </li>
          <li class="PrefooterMenu__column-item">
            <a href="/get-involved">Complaints</a>
          </li>
        </ul>
      </div>
    </div>
    <footer class="Footer">
      <div class="Footer__container Container">
        <div class="Footer__contact">
          <h2>Contact us</h2>
          <p>
            01273 678152<br/>
            reception@sussexstudent.com<br/>
            Falmer House, Falmer, East Sussex, BN1 9QF
          </p>

          <p>
            <a href="/about-us/contact-us">View contact details for particular departments, staff and officers</a><br/>
            <a href="/about-us">Jobs</a><br/>
            <a href="/advertise">Advertise With Us</a>
          </p>

          <p>
            <small>University of Sussex Students’ Union - Company No. 07695765. Charity No. 1147242</small><br/>
            <small>University of Sussex Students’ Union Trading Ltd - Company No. 02146582</small>
          </p>

          <p>
            <small>Designed and built by Sussex Students' Union. Powered by MSL.</small>
          </p>
        </div>
        <div class="Footer__social">
          <ul class="Social">
            <li>
              <a class="Social__link Social__link--facebook" href="https://www.facebook.com/thestudentsunion/">
                <span class="u-h">Facebook</span>
              </a>
            </li>
            <li>
              <a class="Social__link Social__link--twitter" href="https://twitter.com/ussu">
                <span class="u-h">Twitter</span>
              </a>
            </li>
            <li>
              <a class="Social__link Social__link--instagram" href="https://www.instagram.com/sussexsu/">
                <span class="u-h">Instagram</span>
              </a>
            </li>
            <li>
              <a class="Social__link Social__link--snapchat" data-action="snapchat" href="https://www.snapchat.com/add/sussexstudent">
                <span class="u-h">Snapchat</span>
              </a>
            </li>
          </ul>
          <a class="Button Button--yellow" href="/newsletter" data-action="newsletter_subscribe">Subscribe to our email newsletter</a>
        </div>
      </div>
    </footer>
    <div class="AdvertBar AdvertBar--dark AdvertBar--hide">
      <div class="AdvertBar__advert">
        <div class="mslwidget">
          <a href="/advertclick/20/" target="_blank">
            <img src="https://sussexstudent.com/asset/Advert/20/Student Offer Ipswich.jpg" alt="Get your £15 Student Ticket for BHAFC vs Ipswich o">
          </a>
        </div>
      </div>
    </div>

    <div class="js__modal"></div>
    <script src="{{ assets.main.js }}"></script>
  </body>
</html>
