{% extends 'base.html' %}
{% block title_top %}{% endblock title_top %}

{% block content %}
<div class="Container">
  <div class="Trail">
    <div class="Trail__row">
      <div class="HeadingImage" style="background-image: url('https://images.unsplash.com/photo-1416339684178-3a239570f315?dpr=2&auto=format&fit=crop&w=1280&h=600&q=80&cs=tinysrgb&crop=')">
        <h1 class="HeadingImage__title">You are a member of the Students’ Union</h1>
        <p class="HeadingImage__desc">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
      </div>
    </div>
    <div class="Trail__row Trail__row--211">
      <div class="ContentBlock">
        <div class="ContentBlock__heading">News</div>
        <ul class="NewsGrid">
          {% for item in page.metadata.news_items %}
          <li class="NewsGrid__item NewsBlock">

            <a class="NewsBlock__title-link" href="#">
              <div class="NewsBlock__image" style="background-image: url({{item.image}});">
                <div class="NewsBlock__title-outer">
                  <h2 class="NewsBlock__title">{{item.title}}</h2>
                </div>
              </div>
            </a>
            <p class="NewsBlock__standfirst">{{item.desc}}</p>
            <div class="NewsBlock__meta">
              <date class="NewsBlock__date">1 hour ago</date>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="ContentBlock">
        <div class="ContentBlock__heading">What's on</div>
      </div>
      <div class="ContentBlock">
        <div class="ContentBlock__heading">Twitter</div>
      </div>
    </div>
    
    <ul class="FigureCollection">
      {% for i in [1, 2, 3, 4, 5, 6] %}
      <li class="FigureCollection__item">
        <a class="FigureCollection__link">
          <img class="FigureCollection__image" src="https://www.sussexstudent.com/pageassets/about-us/full-time-elected-officers/Savannah(1).jpg" />
          <span class="FigureCollection__title">Not the president</span>
          <span class="FigureCollection__secondary">Runs everything</span>
        </a>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
