{% extends 'base.html' %}
{% block title_top %}{% endblock title_top %}
{% block siteclasses %}Legacy{% endblock siteclasses %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="rebrand2015" style="background-color: #1db8a4;">
<div class="container">
<h1 id="title" style="margin-bottom:15vw">We&#39;re here to help</h1>
<!--<h2 class="Larsseit-Bold" id="subtitle" style="margin-bottom:20vw;">We hope you have a great time at University but we can help out if you need it</h2>--></div>
</div>

<div class="container"><!-- Example row of columns -->
<div class="row">
<div class="col-md-4">
<h2>Help with academic issues</h2>

<p>We provide support and advocacy for students facing <strong>academic misconduct proceedings</strong>.</p>

<p><a class="btn btn-default" href="/support/academic-misconduct/">Academic misconduct &raquo;</a></p>

<p>We can help you <strong>appeal your assessment and exam results or University decisions</strong>.</p>

<p><a class="btn btn-default" href="/support/academic-appeals/">Appeal &raquo;</a></p>

<p>Have a look here for information about what you can do if <strong>health or personal circumstances are likely to affect your academic performance.</strong></p>

<p><a class="btn btn-default" href="/support/mitigating-evidence/">Exceptional circumstances &raquo;</a></p>
</div>

<div class="col-md-4">
<h2>Complaints</h2>

<p>If you feel dissatisfied about some aspect of your dealings with the <strong>University </strong>we can provide support and advocacy.</p>

<p>Perhaps you feel unhappy with the level of teaching &amp; support on your course, have received an unsatisfactory standard or service from a particular office or department, or feel you were treated inappropriately by a University staff member. We can help.</p>

<p><a class="btn btn-default" href="/support/complaints-against-the-university/">Complain to the University &raquo;</a></p>

<p>If you feel unhappy about some aspect of your dealings with the <strong>Students&rsquo; Union</strong> (including its clubs, societies, publications and trading services) we have a complaints procedure to deal with your concerns.</p>

<p><a class="btn btn-default" href="https://www.sussexstudent.com/about-us/contact-us/make-a-complaint/">&nbsp;Complain to the Union &raquo;</a></p>
</div>

<h2>Help if you&#39;re facing disciplinary action</h2>

<p>The University may take disciplinary action against you if they feel you have broken university rules.</p>

<p>If you are contacted by the University about potential disciplinary issues then please get in touch to discuss your individual circumstances.</p>

<p>We can talk through your options, advise on the process and if possible attend any meetings or panels with you.</p>

<p><a class="btn btn-default" href="/support/disciplinary">University disciplinary action&nbsp;&raquo;</a></p>
</div>

<div class="row">
<div class="col-md-4">
<h2>We&#39;re independent from the University</h2>

<p>If you talk to us about a problem with the University we&#39;ll keep it confidential unless it appears there is a risk of harm to you or another person.</p>

<p><a class="btn btn-default" href="/pageassets/support/SAConfidentialityPolicy.docx" style="line-height: 20px;" target="_blank">Confidentiality Policy &raquo;</a></p>
</div>

<div class="col-md-4">
<h2><a name="details"></a>Contact our support &amp; advocacy team</h2>

<p>If you&rsquo;re not sure if we can help, please contact us anyway - we will know who at the university can help you!</p>

<p><a href="mailto:advice@sussexstudent.com">advice@sussexstudent.com</a></p>

<p>01273 877038</p>

<p>Visit us on the first floor of Falmer House</p>
</div>

<div class="col-md-4">
<h2>Other people who can help</h2>

<p>The University&#39;s Student Life Centre can help with a range of issues including funding, health and directing you to other University services.</p>

<p><a class="btn btn-default" href="http://sussex.ac.uk/studentlifecentre" target="_blank">View details &raquo;</a></p>
</div>
</div>

<div class="row">
<div class="col-md-4">
<h2>Student parents</h2>

<p>We have a family room that student parents can book to use with their children free of charge.</p>

<p><a class="btn btn-default" href="http://www.sussexstudent.com/student-parents/">View details &raquo;</a></p>

<p>We also have a mailing list for updates about issues affecting student parents and events you can take part in with your children.</p>

<p><a class="btn btn-default" href="https://lists.sussex.ac.uk/mailman/listinfo/ussu_studentparents-info" target="_blank">Subscribe to mailing list &raquo;</a></p>
</div>

<div class="col-md-4">
<h2>Students that run sports clubs &amp; societies</h2>

<p>We provide information, support and resources for students that run our sports clubs and societies.</p>

<p><a class="btn btn-default" href="http://www.sussexstudent.com/sport-societies-media/information-for-committee-members/">View details &raquo;</a></p>
</div>

<div class="col-md-4">
<h2>ZERO TOLERANCE</h2>

<p>Our Zero Tolerance policy supports anyone who has experienced or witnessed sexual harassment, discrimination or violence. We promise to raise awareness of these issues and to respond appropriately to all reports. If you have witnessed or experienced an incident, we can support you.&nbsp;</p>

<p><a class="btn btn-default" href="/support/zero-tolerance/">Zero tolerance guidance&nbsp;&raquo;</a></p>
</div>
</div>

<div class="row">
<div class="col-md-4">
<h2>Help settling in at Sussex</h2>

<p>Join our Buddy Scheme to receive peer support from a current Sussex student who will help you settle in using their knowledge and experience of the University and Brighton.</p>

<p>The Buddy Scheme is here to support your transition from home to University and&nbsp;<span style="line-height: 1.42857143;">during your time at Sussex if you are struggling. </span></p>

<p><span style="line-height: 1.42857143;">Our Buddy Scheme volunteers are here to help you!</span></p>

<p><a class="btn btn-default" href="http://www.buddyscheme.com" target="_blank">More about the Buddy Scheme &raquo;</a></p>

<h2 style="color: rgb(51, 51, 51);">HOUSE-HUNTING HELP</h2>

<p>You can find out about the different areas of Brighton &amp; Hove and find out about students&#39; experiences of renting accommodation in the area.</p>

<p><a class="btn btn-default" href="/support/housing/">View details &raquo;</a></p>
</div>

<div class="col-md-4">
<h2>CODE OF&nbsp;CONDUCT</h2>

<p>The Students&rsquo; Union has a <a href="/about-us/policies/guidelines-for-participation/">safer spaces &amp; good conduct policy</a> which seeks to enable equal participation by challenging oppressive and discriminatory behaviour.</p>

<p>We also have a number of policies that contribute to our commitment to creating a safe and inclusive environment for everyone:</p>

<p><a class="btn btn-default" href="/about-us/policies/equal-opportunities/">Equality &amp; diversity policy &raquo;</a></p>

<p><a class="btn btn-default" href="/about-us/policies/zero-tolerance/">&nbsp;Zero tolerance policy &raquo;</a></p>

<p><a class="btn btn-default" href="/about-us/policies/mental-health-wellbeing/">Mental health &amp; wellbeing policy &raquo;</a></p>

<p><a class="btn btn-default" href="/democracy/policies/union/#sexualviolence">Policy against sexual violence &raquo;</a></p>

<p><a class="btn btn-default" href="/democracy/policies/union/#racism">No platform policy/policy against racism &raquo;</a></p>

<p><a class="btn btn-default" href="/democracy/policies/union/#inequalityofwomen">Policy against the inequality of women &raquo;</a></p>

<p>In addition we also have a bullying and harassment policy and disability statement.</p>

<p>If you have witnessed or are informed of an incident which you feel may be considered misconduct by a Union member, we have a&nbsp;<a href="/about-us/discipline-procedure/">student discipline procedure</a> to deal with your concerns or you can use the <a href="http://www.sussex.ac.uk/ogs/policies/student-discipline" target="_blank">University&#39;s discipline procedure</a>.</p>
</div>

<div class="col-md-4">
<h2 style="color: rgb(51, 51, 51);">Other Policies</h2>

<p>Details of the service standards you should expect from the Support and Advocacy team and occasions where support may have to be withdrawn.</p>

<p><a class="btn btn-default" href="/pageassets/support/SAServiceStandards.docx" style="border-color: rgb(173, 173, 173); outline: 0px; background-color: rgb(230, 230, 230);">Service Standards&nbsp;&raquo;</a></p>

<p><a class="btn btn-default" href="/pageassets/support/SARefusalandwithdrawalofservicepolicyandprocedure.docx">Refusal and withdrawal of service &raquo;</a></p>

<p><a class="btn btn-default" href="/pageassets/support/SAConflictofinterestpolicyandprocedure.docx">Conflict of Interest &raquo;</a></p>
</div>
</div>
<!-- /container --></div>

<p>&nbsp;</p>

{% endblock %}
