<div class="mslwidget">

<div class="msl_eventlist">

    
    

    
            
            <div>
	 

                

                

                        <div class="event_item item1 itemOdd" data-msl-organisation-id="6400">

			                <dl>
				                <dt>
                                    
                                        <a href="/events/6400/2228/">
                                            <span class="msl_event_image">
                                                <img src="/asset/Event/6400/Copy-of-Digi1colourhalftext4.jpg?thumbnail_width=100&amp;thumbnail_height=100&amp;resize_type=Force" alt="">
                                            </span>
                                        </a>
                                    

                                    <span class="msl_event_organisation">Elections</span>
                                    <a href="/events/6400/2228/" class="msl_event_name">Nominations open for NUS, Trustee and Officer elections</a>
                                </dt>
				
                                <dd class="msl_event_time">2nd September - 20th February</dd>
				
                                <dd class="msl_event_location">University of Sussex Students' Union</dd>

				                <dd class="msl_event_description">The Students' Union is led by students like you. Each year, students elect 10 officers to lead the Union, along with student trustees who oversee the governance of the Union, and NUS conference delegates who represent Sussex on a national level.</dd>

				                

                                

				                

				                <dd class="msl_event_hook">

			                </dd></dl>

                        </div>

	                

                        <div class="event_item item2 itemEven" data-msl-organisation-id="8775">

			                <dl>
				                <dt>
                                    
                                        <a href="/events/8775/2235/">
                                            <span class="msl_event_image">
                                                <img src="/asset/Event/8775/Copy-of-Digi1colourhalftext4.jpg?thumbnail_width=100&amp;thumbnail_height=100&amp;resize_type=Force" alt="">
                                            </span>
                                        </a>
                                    

                                    <span class="msl_event_organisation">Referenda</span>
                                    <a href="/events/8775/2235/" class="msl_event_name">Submit topics for Referenda</a>
                                </dt>
				
                                <dd class="msl_event_time">3rd December - 6th February</dd>
				
                                <dd class="msl_event_location">University of Sussex Students' Union</dd>

				                <dd class="msl_event_description">If you have a topic you want all students to vote on in the Spring term, you can submit it via petition, or by contacting your Councillor to raise it at Union Council.</dd>

				                

                                

				                

				                <dd class="msl_event_hook">

			                </dd></dl>

                        </div>

	                

                        <div class="event_item item3 itemOdd" data-msl-organisation-id="6407">

			                <dl>
				                <dt>
                                    

                                    <span class="msl_event_organisation">Societies</span>
                                    <a href="/events/6407/2702/" class="msl_event_name">Ball organising workshop</a>
                                </dt>
				
                                <dd class="msl_event_time">30th January </dd>
				
                                <dd class="msl_event_location">Meeting Room 1</dd>

				                <dd class="msl_event_description">A workshop to help clubs and societies organise balls.</dd>

				                

                                

				                

				                <dd class="msl_event_hook">

			                </dd></dl>

                        </div>

	                

            
</div>

        

    

</div>

</div>