:root {
  --layer__search-input: 120;
  --layer__search-header: 110;
  --layer__search: 100;
  --layer__modal: 100;
  --layer__modal-back: 75;
  --layer__search-backdrop: 75;
  --layer__global-notice: 65;
}
