.msl_admin_page {
  padding: 0 !important;

  h1 {
    margin: 0 !important;
    margin-bottom: 1rem !important;
  }

  #admin_portal {
    padding: 0 !important;
  }

  #msl_toolbar {
    font-family: var(--type__primary);
    font-weight: 600;
    border-bottom: 2px solid var(--color__grey-winter);

    li a {
      padding: 0.2rem 1rem !important;
      line-height: inherit;
      height: auto;
      border-left: 0;

      &.msl_toolbarbutton_selected {
        background: var(--color__brand-blue);
        color: white;
      }
    }
  }
}
