.msl_admin_page {
  padding: 0 !important;

  h1 {
    margin: 0 !important;
    margin-bottom: 1rem !important;
  }

  #admin_portal {
    padding: 0 !important;
  }

  #msl_toolbar {
    font-family: var(--type__primary);
    font-weight: 600;
    border-bottom: 2px solid var(--color__grey-winter);

    li a {
      padding: 0.2rem 1rem !important;
      line-height: inherit;
      height: auto;
      border-left: 0;

      &.msl_toolbarbutton_selected {
        background: var(--color__brand-blue);
        color: white;
        font-size: inherit;
      }
    }
  }

  .vp_form input.textbox, .vp_form textarea.textbox {
    font-size: 1rem;
    padding: 0.3rem !important;
    border: 1px solid var(--color__grey-spring);
    box-sizing: border-box;
    width: 100%;
    max-width: 20em;
  }

  .vp_form .vp_highlight {
    background-color: transparent;
  }

  .vp_form .vpFormPair, .vp_form .vpFormSubmit {
    padding: 0.6rem 0;
  }

  .vp_form textarea.max {
    max-width: 40em;
  }
}
