.AdvertBar {
  background-color: var(--color__grey-spring);
  box-sizing: border-box;

  &--hide {
    display: none;
  }

  &--dark {
    background-color: var(--color__grey-sad-slate);
  }

  &__advert {
    display: block;
    margin: 0.5lh auto;
    width: auto;
    max-width: 100%;
  }
}
