.AdvertBar {
  background-color: rgb(237, 237, 237);
  padding: 0.5lh;
  box-sizing: border-box;

  &--hide {
    display: none;
  }

  &--dark {
    background-color: rgb(38, 38, 38);
  }

  &__advert {
    display: block;
    margin: 0 auto;
    width: auto;
    max-width: 100%;
  }
}
