@import '../core/colors.css';

.Button {
  background-color: var(--color_brand-blue);
  color: #ffffff;
  display: inline-block;
  padding: 0.8rem 0.4rem;
  text-decoration: none;

  &--external {
    &:after {
      content: '🔥';
    }
  }
}
