.PaginationNavigation {
  display: flex;
  padding: 1rem 0;
  font-weight: bold;

  &__meta {
    display: block;
    width: 40%;
    text-align: center;
  }

  &__button {
    display: block;
    width: 30%;
    text-align: center;
    cursor: pointer;
  }
}
