.Color {
  font-family: monospace;
  text-align: center;
  margin-bottom: 1rem;
  margin-right: 1rem;
  font-size: 0.6rem;
}

.Color__display {
  @mixin card flat;
  @mixin card rounded;
  height: 4rem;
  width: 3rem;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAABlBMVEXY2Nj///8B0aRxAAAAGElEQVR4AWNAB4xoYEQpGFUwGjCjCpABACRcAgFyjNYZAAAAAElFTkSuQmCC);
  margin: 0 auto;
}

.Color__display-color {
  width: 100%;
  height: 100%;
}


.ColorGrid {
  display: flex;
}
