.TweetList {
  @mixin rounded;

  background-color: var(--color__twitter);
  list-style: none;
  margin: 0;
  padding: 0.5rem;
  font-family: var(--type__primary);
  display: flex;
  flex: auto;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;

  &__view-more {
    display: block;
    margin-top: auto;
    color: #ffffff !important; /* TODO: launch rush, plz fix */
    font-weight: bold;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.Tweet {
  background: white;
  margin-bottom: 0.5rem;
  padding: 0.5rem 0;
  position: relative;

  @mixin card standard;

  &__faux-link {
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    z-index: var(--layer__tweet-back-link) !important;
  }

  &--quoted {
    padding-bottom: 0;
    margin-bottom: 0;
    box-shadow: none;
    z-index: var(--layer__tweet-quoted);
    cursor: pointer;
    border: 1px solid rgba(155, 155, 155, 0.4);

    &:hover {
      box-shadow: none;
      border: 1px solid var(--color__twitter);
    }
  }

  & div a {
    z-index: var(--layer__tweet-link);
    color: var(--color__twitter);
    text-decoration: none;
    position: relative;

    &:hover {
      text-decoration: underline;
    }
  }

  &__header,
  &__content,
  &__permalink {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  &__retweeted {
    color: rgba(155, 155, 155, 1);
    margin-bottom: 1em;

    &::before {
      content: '';
      margin-right: 0.3em;
      display: inline-block;
      width: 1.4em;
      height: 1em;
      background-image: url('../img/retweet.svg');
      background-repeat: no-repeat;
      background-position: left bottom;
      background-size: contain;
    }
  }

  &__header {
    @mixin type long-primer;
  }

  &__name {
    font-weight: bold;
    margin-right: 0.4em;
    display: inline-block;
  }

  &__screen-name {
    color: rgba(155, 155, 155, 1);
    display: inline-block;
  }

  &__content {
    white-space: pre-wrap;
    word-wrap: break-word;
    @mixin type long-primer;
    margin: 0.3em 0;

    & a {
      color: black;
    }
  }

  &__media {
    & > img {
      max-width: 100%;
      width: auto;
      display: block;
      margin: 0 auto;
    }
  }

  &__permalink {
    display: block;
    padding-top: 0.5lh;
    color: rgba(155, 155, 155, 1) !important; /* TODO: don't do this */
    text-decoration: none;
    @mixin type brevier;

    &:hover {
      text-decoration: none !important;
    }
  }

  &__quoted {
    width: calc(100% - 18px);
    margin-left: 9px;
  }
}
