.Banner {
  padding: 1em;
  background-color: var(--color__brand-green);
  color: #ffffff;
  text-align: center;
  border-radius: 6px;

  &__heading {
    font-weight: 600;
    font-family: var(--type__primary);
  }
}

.BannerList {
  margin-bottom: 2rem;
}
