.FigureCollection {
  font-family: var(--type__primary);
  justify-content: center;

  &__link {
    display: block;
    margin-bottom: 1lh;
    color: black;
    text-decoration: none;
    width: 100%;

    @mixin card standard;
  }

  &__image {
    width: 100%;
    display: block;
  }

  &__title {
    background: var(--color__brand-coral);
    display: block;
    box-sizing: border-box;
    color: #fff;
  }

  &__secondary {
    display: block;
  }

  &__title,
  &__secondary {
    padding: 0.2rem;
    padding-left: 0.8rem;
    font-weight: bold;
  }
}
